<section >
    <div >
        <hgroup id="main-title" class="thin">
            <h1></h1>
        </hgroup>
        <div class="with-padding" >
            <div class="columns">
                <div class="four-columns twelve-columns-mobile">
                    <div class="boxed">
                        <p class="icon-info green underline">Infos banque</p>
                        <table class="info-table">
                            <tbody>
                                <tr>
                                    <th width="40%" scope="row">{{t 'bank:Ref'}}</th>
                                    <td>
                                        
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" scope="row">{{t 'bank:Name'}}</th>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" scope="row">{{t 'bank:AccountType'}}</th>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" scope="row">{{t 'bank:Client'}}</th>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" scope="row">{{t 'bank:Status'}}</th>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" scope="row">{{t 'bank:Country'}}</th>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="eight-columns">
                    <tabset>
                        <tab>
                            <tab-heading>
                                <span class="icon-cart">Fiche compte</span>
                            </tab-heading>
                            <div class="boxed relative large-box-shadow">
                                <div class="columns">
                                    <div class="six-columns">
                                        <table class="simple-table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">{{t 'bank:'}}</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Adresse</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Rapprochable</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Code compta</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Solde minimum autorisé</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Solde minimum désiré</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <span class="icon-cart">Numéro compte</span>
                            </tab-heading>
                            <div class="boxed relative large-box-shadow">
                                <div class="columns">
                                    <div class="six-columns">
                                        <table class="simple-table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Nom de la banque</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Numéro compte</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Code IBAN</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Code BIC/SWIFT</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Domiciliation du compte</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Solde minimum désiré</th>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</section>
            