<section data-ng-controller="BankController">
	<hgroup id="main-title" class="thin">
		<h1>Gestion des banques</h1>
	</hgroup>

	<div class="with-padding" data-ng-init="find()">
	
		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
				<div class="col-sm-6">
					<button class="button icon-plus blue-gradient" data-ng-click="addNew()">{{t 'Add'}}</button>
				</div>
				<div class="col-sm-6">
					<div class="float-right">
                                            {{t 'Search'}} <input type="text" placeholder="..." data-ng-model="filterOptionsBank.filterText" class="input small mid-margin-left">
                                            
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptions" ng-style="style(170)" resize></div>
		<div class="table-footer silver-gradient">
			\{{countBank}} ligne(s)
		</div>

	</div>
</section>