<form data-ng-init='init()' data-ng-submit='createLead()' class="block wizard same-height wizard-enabled" style="width: 800px;margin: 0 auto;">

    <!-- Block style is optional, you can use any layout -->
    <h3 class="block-title">{{t 'leads:New Lead'}}</h3>

    <fieldset class="wizard-fieldset fields-list active">
        <div class="field-block button-height">
            <label for="name"><b>{{t "Name"}}</b></label>
            <input type="text" ng-model="lead.name" id="name" class="form-control" autocomplete="off">
        </div>
		
		 <div class="field-block button-height">
		<label for="societe"><b>{{t
				'CompanyFoundation'}}</b></label>
			<div class="row">
				<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-addon icon icon-home"></span>
						<input required type="text" 
							   data-ng-model="lead.societe" 
							   typeahead="societe as societe.name for societe in AutoComplete($viewValue, '/api/societe/autocomplete',5) | filter:{name:$viewValue}" 
							   id="societe" class="form-control" autocomplete="off">
					</div>
				</div>
			</div>
		 </div>

        <div class="field-block button-height">
            <label for="dueDate"><b>{{t
				"DateDue"}}</b></label>
			<div class="row">
				<div class="col-md-6">
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="lead.dueDate" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>
        </div>
		<div class="field-block button-height">
			<label for="potential"><b>{{t "leads:Potential"}}</b></label>
			<span ng-repeat="p in dict.fk_prospectlevel.values" style="margin-left" >
				<input type="radio" name="selectedProspectLevel" ng-model="lead.potential" value="\{{p.id}}"/>\{{p.label|| 'Aucun'}}
				<br/>
			</span>

		</div>
		<div class="field-block button-height">
			<label for="type"><b>{{t "leads:Type"}}</b></label>
			<span ng-repeat="tb in dict.fk_lead_type.values">
				<input type="radio" ng-model="lead.type" id="type" value="\{{tb.label}}"/> \{{tb.label}}
				<br/>
			</span>
		</div>
        <div class="field-block button-height wizard-controls clearfix">
            <button type="submit" class="button glossy mid-margin-right float-right">
                <span class="button-icon"><span class="icon-tick"></span></span>
                Créer
            </button>
        </div>
    </fieldset>
</form>