<section data-ng-controller="ProductBarCodeController" class="scroll" style="height:500px" ng-style="style(0)" resize>
	<hgroup id="main-title" class="thin">
		<h1>Generateur de codes barres</h1>
	</hgroup>

	<div class="with-padding">
		<tabset ng-init="initList()">
			<tab heading="Liste des codes barres">
				<div class="with-padding">
					<div class="columns">
						<div class="three-columns" data-ng-repeat="s in stocks track by $index">
							<h4 class="green underline">\{{s.stock}} - \{{s.subStock}}</h4>
							<div data-ng-repeat="code in s.productId track by $index">
								<span>\{{productsBarCode[code].ref}}<div sd-barcode barcode-value="\{{s.barCode}}\{{productsBarCode[code].barCode}}"></div></span>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Ajouter un entrepot">
				<div class="with-padding">
					<form ng-submit="insert()">
						<fieldset class="fieldset">
							<legend class="legend">Ajouter un entrepot</legend>

							<p class="button-height inline-label">
								<label for="societe" class="align-left">
									Societe
								</label>
								<input type="text" required="required" data-ng-model="storehouse.societe" id="societe" typeahead="societe as societe.name for societe in societeAutoComplete($viewValue) | filter:{name:$viewValue}" class="input">
							</p>

							<p class="button-height inline-label">
								<label for="storehouse" class="align-left">
									Entrepot
								</label>
								<input type="text" required="required" data-ng-model="storehouse.name" id="storehouse" class="input">
							</p>

							<p class="button-height inline-label">
								<label for="substorehouse" class="align-left">
									Sous-entrepot
								</label>
								<input type="text" data-ng-model="storehouse.substock" id="substorehouse" class="input">
							</p>

							<div class="button-height">
								<button type="submit" class="button glossy mid-margin-right">
									<span class="button-icon"><span class="icon-tick"></span></span>
									{{t 'Add'}}
								</button>

								<!--<button type="button" class="button glossy" ng-click="disableEdit();">
									<span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
									{{t 'Cancel'}}
								</button>-->
							</div>
						</fieldset>
					</form>
				</div>
			</tab>

			<tab heading="Liens avec les produits">
				<div class="with-padding">
					<table class="table">
						<thead>
							<tr>
								<th class="header">Text</th>
								<th class="header vertical-text" data-ng-repeat="p in products">\{{p.ref}}</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="s in stocks track by $index">
								<td>\{{s.stock}}-\{{s.subStock}}</td>
								<td data-ng-repeat="p in products track by $index"><input type="checkbox" data-ng-model="isChecked[s.barCode][p._id]" data-ng-change="updateCheck(p,s)" data-ng-checked="isChecked[s.barCode][p._id]"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
		</tabset>
	</div>
</section>