<section data-ng-controller="ProductController" class="scroll" style="height:500px" ng-style="style(0)" resize>
	<hgroup id="main-title" class="thin">
		<h1>Liste des produits et services</h1>
	</hgroup>

	<div class="with-padding">
		<div class="margin-bottom">
			<!--<p class="button-height block-label">
				<label class="label" for="ref">{{t 'Search'}} : </label>
				<input class="input" type="text" id="ref" />
			</p>-->
		</div>

		<div kendo-grid k-data-source="dataSource" k-columns='[
			 {"field": "ref", "filterable": true, "title": "reference", "editor": refDropDownEditor},
			 {"field": "label", "filterable": false, "title": "Designation", "editor": textareaEditor},
			 {"field": "type", "filterable": false, "title": "Type", "editor": typeDropDownEditor, "template": "<small class=\"tag #=type.css# glossy \">#=type.name#</small>"},
			 {"field": "tms", "title": "Date de modification", "hidden": false, "format": "{0:dd/MM/yyyy}", "filterable": {
			 "ui": "datepicker", "extra": true }
			 },
			 {"field": "price_level", "title": "Liste de prix", "editor": priceLevelDropDownEditor},
			 {"field": "pu_ht", "filterable": true, "title": "Prix HT", "format": "{0:c3}", "width": "60px"},
			 {"field": "qtyMin", "filterable": true, "title": "Qte Min", "format": "{0:n0}", "width": "60px"},
			 {"field": "tva_tx", "title": "TVA", "format": "{0:p2}", "template": "#=tva_tx# %"},
			 {"field": "Status", "title": "Etat", "width": "100px",
			 "editor": statusDropDownEditor, "filterable": {"field": "Status.id", "ui": statusFilter}, "template": "<small class=\"tag #=Status.css# glossy \">#=Status.name#</small>"},
			 {"field": "compta_sell", "title": "Compta. Vte.", "hidden":true},
			 {"field": "compta_buy", "title": "Compta. Ach.", "hidden":true},
			 {"field": "ref_customer_code", "title": "Ref Fact.", "hidden":true}]'
			 k-pageable='{ "refresh": true, "pageSizes": [5, 10, 20, 50, 100, 500], "buttonCount": 5}'
			 k-sortable="true" k-filterable='{"extra": false}' k-groupable="true" k-scrollable="false" k-column-menu="true"
			 k-toolbar='[{
			 "name": "create",
			 "text": "Nouveau produit/service",
			 "className": "k-button k-button-icontext k-grid-add button"
			 },{
			 "name": "cancel",
			 "text": "Annuler",
			 "className": "k-button k-button-icontext k-grid-cancel-changes button"
			 }]'
			 k-editable='{
			 "mode": "incell"
			 }'></div>
	</div>
</section>