<section data-ng-controller="ProductController" data-ng-init="init()">
	<hgroup id="main-title" class="thin">
		<h1>Liste des produits et services</h1>
	</hgroup>

	<div class="with-padding" data-ng-init="find()">

		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
				<div class="col-sm-4">
					<div class="button-group">
						<button class="button icon-plus blue-gradient" data-ng-click="addNew()">{{t 'Add'}}</button>
						<button title="{{t 'Refresh'}}" class="button" data-ng-click="find()"><span class="icon-redo"></span></button>
					</div>

				</div>
				<div class="col-sm-4">
					{{t 'Type'}} <select ng-model="type" ng-options="c as c.name for c in types track by c.id" data-ng-change="find()" class=""></select>
				</div>
				<div class="col-sm-4">
					<div class="float-right">
						{{t 'Search'}} <input type="text" data-ng-model="filterOptionsProduct.filterText" class="input small mid-margin-left">
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptionsProduct" ng-style="style(170)" resize></div>
		<div class="table-footer silver-gradient button-height">
			<div class="float-right">
				 <pagination total-items="totalCountProduct" ng-model="pagingOptionsProduct.currentPage" max-size="10" items-per-page="pagingOptionsProduct.pageSize" class="pagination-sm no-margin-top" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
			</div>
			\{{countProducts}}/\{{totalCountProduct}} ligne(s)
		</div>


		<!--<div kendo-grid k-data-source="dataSource" k-columns='[
			 {"field": "ref", "filterable": true, "title": "reference", "editor": refDropDownEditor},
			 {"field": "label", "filterable": false, "title": "Designation", "editor": textareaEditor},
			 {"field": "type", "filterable": false, "title": "Type", "editor": typeDropDownEditor, "template": "<small class=\"tag #=type.css# glossy \">#=type.name#</small>"},
			 {"field": "updatedAt", "title": "Date de modification", "hidden": false, "format": "{0:dd/MM/yyyy}", "filterable": {
			 "ui": "datepicker", "extra": true }
			 },
			 {"field": "price_level", "title": "Liste de prix", "editor": priceLevelDropDownEditor},
			 {"field": "pu_ht", "filterable": true, "title": "Prix HT", "format": "{0:c3}", "width": "60px"},
			 {"field": "qtyMin", "filterable": true, "title": "Qte Min", "format": "{0:n0}", "width": "60px"},
			 {"field": "tva_tx", "title": "TVA", "format": "{0:p2}", "template": "#=tva_tx# %"},
			 {"field": "Status", "title": "Etat", "width": "100px",
			 "editor": statusDropDownEditor, "filterable": {"field": "Status.id", "ui": statusFilter}, "template": "<small class=\"tag #=Status.css# glossy \">#=Status.name#</small>"},
			 {"field": "compta_sell", "title": "Compta. Vte.", "hidden":true},
			 {"field": "compta_buy", "title": "Compta. Ach.", "hidden":true},
			 {"field": "ref_customer_code", "title": "Ref Fact.", "hidden":true},
			 {"field": "caFamily", "title": "Famille", "hidden":false,  "editor":familyDropDownEditor},
			 {"field": "barCode", "title": "Code barre", "hidden":true},
			 {"field": "billingMode", "title": "Mode de factura.", "hidden":true}]'
			 k-pageable='{ "refresh": true, "pageSizes": [5, 10, 20, 50, 100, 500], "buttonCount": 5}'
			 k-sortable="true" k-filterable='{"extra": false}' k-groupable="true" k-scrollable="false" k-column-menu="true"
			 k-toolbar='[{
			 "name": "create",
			 "text": "Nouveau produit/service",
			 "className": "k-button k-button-icontext k-grid-add button"
			 },{
			 "name": "cancel",
			 "text": "Annuler",
			 "className": "k-button k-button-icontext k-grid-cancel-changes button"
			 }]'
			 k-editable='{
			 "mode": "incell"
			 }'></div>-->
	</div>
</section>
