<div data-ng-init='init();
		findOne();' class="block wizard same-height wizard-enabled" style="width: 800px;margin: 0 auto;">

    <h3 class="block-title">{{t 'products:CardProductPRODUCT'}} : \{{product.ref}}</h3>
    <fieldset class="wizard-fieldset fields-list active">
        <div class="field-block">
            <label><b>{{t 'products:ProductRef'}}</b></label>
			<a href="#" class="blue h5" editable-text="product.ref" buttons="no" onaftersave="update()">
				\{{product.ref|| "Non defini"}}
			</a>
        </div>
		<div class="field-block">
            <label><b>{{t 'products:ProductLabel'}}</b></label>
			<a href="#" class="blue h5" editable-text="product.label" buttons="no" onaftersave="update()">
				\{{product.label|| "Non defini"}}
			</a>
        </div>
		<div class="field-block">
            <label><b>{{t
				'Status'}}</b></label>
            <span class="tag small glossy" data-ng-class="product.status.css" editable-select="product.Status" buttons="no" e-form="StatusBtnForm" onaftersave="update()" e-ng-options="s.id as s.label for s in dict.fk_product_status.values">
				\{{product.status.name}}</span> <span class="icon-pencil grey" ng-click="StatusBtnForm.$show()" ng-hide="StatusBtnForm.$visible"></span>
        </div>
		<div class="field-block">
            <label><b>{{t 'Description'}}</b></label>
            <span editable-textarea="product.description" e-rows="4" e-cols="70" e-form="DescriptionBtnForm" onaftersave="update()" >
				\{{product.description|| 'empty'}}</span> <span class="icon-pencil grey" ng-click="DescriptionBtnForm.$show()" ng-hide="DescriptionBtnForm.$visible"></span>
        </div>
		<div ng-if="product.Status == 'SELLBUY' || product.Status == 'BUY'" class="field-block">
            <label><b>{{t 'products:ProductAccountancyBuyCode'}}</b></label>
			<a href="#" editable-text="product.compta_buy" buttons="no" onaftersave="update()">
				\{{product.compta_buy|| "Non defini"}}
			</a>
        </div>
		<div ng-if="product.Status == 'SELLBUY' || product.Status == 'SELL'" class="field-block">
            <label><b>{{t 'products:ProductAccountancySellCode'}}</b></label>
			<a href="#" editable-text="product.compta_sell" buttons="no" onaftersave="update()">
				\{{product.compta_sell|| "Non defini"}}
			</a>
        </div>

		<div class="field-block">
            <label><b>{{t
				'Family'}}</b></label>
			<span editable-text="product.caFamily" buttons="no" e-form="caFamilyBtnForm" e-typeahead="family as family for family in productFamilyAutoComplete($viewValue)" onaftersave="update()">
				\{{product.caFamily|| 'empty'}}</span> <span class="icon-pencil grey" ng-click="caFamilyBtnForm.$show()" ng-hide="caFamilyBtnForm.$visible"></span>

		</div>

		<div class="field-block">
            <label><b>{{t 'products:PublicPrice'}}</b></label>
			<span editable-number="product.pu_ht" e-step="0.001" buttons="no" e-form="puhtBtnForm" onaftersave="update()">
				\{{product.pu_ht | number:3}}</span> <span class="icon-pencil grey" ng-click="puhtBtnForm.$show()" ng-hide="puhtBtnForm.$visible"></span>
		</div>
		
		<div class="field-block">
            <label><b>{{t 'products:MinPrice'}}</b></label>
			<span editable-number="product.minPrice" e-step="0.001" buttons="no" e-form="puMinBtnForm" onaftersave="update()">
				\{{product.minPrice | number:3}}</span> <span class="icon-pencil grey" ng-click="puMinBtnForm.$show()" ng-hide="puMinBtnForm.$visible"></span>
		</div>
		
		<div class="field-block">
            <label><b>{{t 'VAT'}}</b></label>
			<span editable-select="product.tva_tx" buttons="no" e-form="vatBtnForm" onaftersave="update()" e-ng-options="c.value as c.value for c in dict.fk_tva.values">
				\{{product.tva_tx| percent}}</span> <span class="icon-pencil grey" ng-click="vatBtnForm.$show()" ng-hide="vatBtnForm.$visible"></span>
		</div>

		<div class="field-block">
            <label><b>{{t 'products:Units'}}</b></label>
			<span editable-select="product.units" buttons="no" e-form="unitsBtnForm" onaftersave="update()" e-ng-options="c.id as c.label for c in dict.fk_units.values">
				\{{product._units.name}}</span> <span class="icon-pencil grey" ng-click="unitsBtnForm.$show()" ng-hide="unitsBtnForm.$visible"></span>
		</div>

        <div class="field-block">
            <label><b>{{t
				'DateCreation'}}</b></label>
            \{{product.createdAt|date:'dd/MM/yyyy'}}
        </div>
        <div class="field-block">
            <label><b>{{t
				'DateLastModification'}}</b></label>
            \{{product.updatedAt|date:'dd/MM/yyyy HH:mm'}}
        </div>

    </fieldset>
</div>