<form data-ng-init='init()' data-ng-submit='create()' class="no-margin-bottom block margin-bottom wizard same-height wizard-enabled" style="width: 800px;margin: 0 auto;">

	<!-- Block style is optional, you can use any layout -->
	<h3 class="block-title">{{t 'deliveries:NewDelivery'}} <span class="blue">\{{delivery.ref}}</span></h3>

	<ul class="wizard-steps">
		<li data-ng-class="isActive(1)" data-ng-click='goto(1)'><span class="wizard-step">1</span> Références</li>
		<!--<li data-ng-class="isActive(2)" data-ng-click='goto(2)'><span class="wizard-step">2</span> Produits/services</li>-->
		<li data-ng-class="isActive(2)" data-ng-click='goto(2)'><span class="wizard-step">2</span> {{t 'deliveries:DeliveryAddress'}}</li>
		<!--<li data-ng-class="isActive(3)" data-ng-click='goto(3)'><span class="wizard-step">3</span> Règlement</li>-->
	</ul>

	<!-- Each form step should be wrapped in a fieldset -->
	<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(1)'>

		<div class="field-block">
			<h4>{{t 'Hello'}}</h4>
			<p>Bienvenue sur la plateforme de création des bons de livraisons en ligne.</p>
		</div>

		<div class="field-block button-height">
			<label for="client"><b>{{t 'companies:Company'}}</b></label>
			<input required type="text" 
				   data-ng-model="delivery.client" 
				   typeahead-on-select="updateCoord($item, $model, $label)" 
				   typeahead="societe as societe.name for societe in societeAutoComplete($viewValue, 'name') | filter:{name:$viewValue}" 
				   id="client" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height" ng-show="delivery.client.isNameModified">
			<label for="name"><b>{{t 'Name'}}</b></label>
			<input type="text" data-ng-model="delivery.client.name" id="namw" class="input" autocomplete="off">
			<small class="icon-info blue input-info"> Mettre ici le nom de la société n'ayant pas de compte ou les nom et prénom du client.</small>
		</div>

		<div class="field-block button-height">
			<label for="ref_client"><b>Référence / Nom de l'affaire</b></label>
			<input type="text" data-ng-model="delivery.ref_client" id="ref_client" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height">
			<label for="phone"><b>{{t 'companies:Phone'}}</b></label>
			<input type="text" data-ng-model="delivery.contact.phone" id="phone" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height">
			<label for="email"><b>{{t
				'Email'}}</b></label>
			<input type="email" data-ng-model="delivery.contact.email" id="email" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height">
			<label for="date_commande"><b>Date d'expédition</b></label>
			<div class="row">
				<div class="col-md-6">
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="delivery.datedl" is-open="opened" ng-required="true" close-text="Fermer" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>
		</div>

		<div class="field-block button-height wizard-controls clearfix">
			<button type="button" data-ng-disabled="!(delivery.datec && delivery.client.id)" data-ng-click='next();' class="button glossy mid-margin-right wizard-next float-right">{{t
				'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>
			<!--<button type="button" data-ng-click='next()' class="button glossy mid-margin-right wizard-next float-right">{{t
				'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>-->
		</div>

	</fieldset>

	<!--<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(2)'>

		<div class="field-block">
			<h4>Ajout des produits / services</h4>
			<p>Détails des prestations</p>
		</div>

		<div class="field-block clearfix">
			<label for="desgination"><b>Détails de la commande</b></label>
			<input type="hidden" data-ng-init="delivery.notes[0].title='Prestations'"/>
			<textarea id="desgination" required cols="30" rows="5" data-ng-model="delivery.notes[0].note" class="input full-width"></textarea>
		</div>

		<div class="field-block button-height wizard-controls clearfix">
			<button type="button"  data-ng-click='previous()' class="button glossy mid-margin-right wizard-prev float-left"><span class="button-icon anthracite-gradient"><span class="icon-backward"></span></span>{{t 'Previous'}}</button>
			<button type="button"  data-ng-click='next()' data-ng-disabled='!delivery.notes[0].note' class="button glossy mid-margin-right wizard-next float-right">{{t 'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>
		</div>

	</fieldset>-->

	<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(2)'>

		<div class="field-block">
			<h4>{{t 'deliveries:DeliveryAddress'}}</h4>
			<p></p>
		</div>

		<div class="field-block button-height">
			<label for="address"><b>{{t 'deliveries:DeliveryAddress'}}</b></label>
			<div class='columns'>
				<div class='twelve-columns'>
					<input type="text" data-ng-model="delivery.client.name" class="input" placeholder="Nom"/><br/>
					<input type="text" data-ng-model="delivery.contact.name" class="input" placeholder="Nom du contact"/><br/>
					<div ng-address model="delivery" opp="create"></div>

					<!--
					<textarea class='input' rows='3' data-ng-model="delivery.address" placeholder="Adresse"></textarea><br/>
<input type="text" class="input" placeholder="Code postal" data-ng-model="delivery.zip" size="8"/>
<input type="text" class="input" data-ng-model="delivery.town" placeholder="Ville"/>
					-->
				</div>
			</div>
		</div>

		<div class="field-block button-height wizard-controls clearfix">
			<button type="button" data-ng-click='previous()' class="button glossy mid-margin-right wizard-prev float-left"><span class="button-icon anthracite-gradient"><span class="icon-backward"></span></span>{{t
				'Previous'}}</button>

			<button type="submit" class="button glossy mid-margin-right">
				<span class="button-icon"><span class="icon-tick"></span></span>
				{{t 'deliveries:CreateDelivery'}}
			</button>

			<!--<button type="button" data-ng-click='next()' class="button glossy mid-margin-right wizard-next float-right">{{t
				'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>-->
		</div>

	</fieldset>

	<!--<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(3)'>

		<div class="field-block">
			<h4>Paiement</h4>
			<p></p>
		</div>

		<div class="field-block button-height">
			<label for="paiment"><b>{{t 'deliveries:PaymentMode'}}</b></label>
			<select class="form-control margin-bottom" id="paiment" required data-ng-model="delivery.mode_reglement_code" data-ng-options="p.id as p.label for p in mode_reglement_code.values"></select>

		</div>
		
		<div class="field-block button-height">
			<label for="rglt"><b>{{t 'deliveries:PaymentConditions'}}</b></label>
			<select class="form-control margin-bottom" id="rglt" required data-ng-model="delivery.cond_reglement_code" data-ng-options="p.id as p.label for p in cond_reglement_code.values"></select>
		</div>

		<div class="field-block button-height wizard-controls align-right">

			<button type="button"  data-ng-click='previous()' class="button glossy mid-margin-right wizard-prev float-left">
				<span class="button-icon anthracite-gradient">
					<span class="icon-backward"></span>
				</span>{{t 'Previous'}}
			</button>

			<button type="submit" class="button glossy mid-margin-right">
				<span class="button-icon"><span class="icon-tick"></span></span>
				{{t 'deliveries:CreateDelivery'}}
			</button>

		</div>

	</fieldset>-->

</form>