<section data-ng-controller="DeliveryController">
	<hgroup id="main-title" class="thin">
		<h1>{{t 'deliveries:List'}}</h1>
	</hgroup>

	<div class="with-padding" data-ng-init="find()">

		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
				<div class="col-sm-4">
					<div class="button-group">
						<button class="button icon-plus blue-gradient" data-ng-click="addNewDelivery()">{{t 'Add'}}</button>
						<button title="{{t 'Refresh'}}" class="button" data-ng-click="find()"><span class="icon-redo"></span></button>
					</div>
				</div>
				<div class="col-sm-4">
					{{t 'Type'}} <select ng-model="type" ng-options="c as c.name for c in types track by c.id" data-ng-change="find()" class=""></select>
				</div>
				<div class="col-sm-4">
					<div class="float-right">
						{{t 'Search'}} <input type="text" data-ng-model="filterOptionsDelivery.filterText" class="input small mid-margin-left">
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptionsDelivery" ng-style="style(170)" resize></div>
		<div class="table-footer silver-gradient">
			\{{countDeliveries}} ligne(s)
		</div>

	</div>
</section>