<section data-ng-controller="BillSupplierController">
	<div data-ng-init="findOne()">
		<hgroup id="main-title" class="thin">
			<h1>Facture \{{bill.ref}} (\{{bill.supplier.name}})</h1>
			<!--<span class="valign-top tag glossy" data-ng-class="bill.status.css">\{{bill.status.name}}</span>-->
		</hgroup>
		<div class="with-padding" data-ng-init="init()">
			<div class="columns">
				<div class="four-columns twelve-columns-mobile">
					<div class="boxed">
						<p class="icon-info green underline">{{t 'bills:CardBill'}}</p>

						<table class="info-table">
							<tbody>
								<tr>
									<th width="40%" scope="row">{{t 'Ref'}}</th>
									<td class="">\{{bill.ref}}</td>
								</tr>
								<tr>
									<th scope="row">{{t 'compta:InvoiceRef'}}</th>
									<td class="h4 blue"><a href="#" editable-text="bill.ref_supplier" buttons="no" onaftersave="update()">
											\{{bill.ref_supplier|| "Non défini"}}
										</a></td>
								</tr>
								<tr>
									<th scope="row">{{t 'Status'}}</th>
									<td><span class="tag small glossy" data-ng-class="bill.status.css">\{{bill.status.name}}</span>
									</td>
								</tr>
								<tr>
									<th scope="row">{{t 'bills:DateMaxPayment'}}</th>
									<td class="blue">\{{bill.dater|date:'dd/MM/yyyy'}}</td>
								</tr>
								<tr>
									<th scope="row">{{t 'suppliers:Supplier'}}</th>
									<td><a
											data-ng-href="#!/societes/\{{bill.supplier.id}}" 
											target="_blank"
											class="icon-home"
											editable-text="bill.supplier"
											e-typeahead="societe as societe.name for societe in societeAutoComplete($viewValue, 'name') | filter:{name:$viewValue}"
											buttons="no"
											e-form="eSocieteBtnForm" 
											onaftersave="update()"
											onbeforesave="updateAddress($data)"
											blur="submit">\{{bill.supplier.name|| "Non defini"}} </a>
										<span class="icon-pencil grey" ng-click="eSocieteBtnForm.$show()" ng-hide="!editable || eSocieteBtnForm.$visible"></span>
									</td>
								</tr>
								<tr>
									<th scope="row">{{t 'Entity'}}</th>
									<td><small class="tag anthracite-gradient glossy">\{{bill.entity}}</small></td>
								</tr>
								<tr>
									<th scope="row">{{t 'companies:Address'}}</th>
									<td>
										<form editable-form name="editableFormAddress" onaftersave="update()">
											<span editable-textarea="bill.address" e-name="address" e-rows="4" e-cols="20" e-required><pre class="no-padding">\{{ bill.address ||  "Non defini" }}</pre></span>

											<span editable-text="bill.zip" e-name="zip" e-placeholder="{{t 'companies:Zip'}}" e-title="{{t 'companies:Zip'}}">\{{bill.zip}}</span> <span editable-text="bill.town" e-name="town" e-placeholder="{{t 'companies:Town'}}" e-title="{{t 'companies:Town'}}">\{{bill.town}}</span>
											\{{bill.country}}
											<!-- button to show form -->
											<span type="button" class="icon-pencil grey" ng-click="editableFormAddress.$show()" ng-show="!editableFormAddress.$visible && editable"></span>


											<div class="small-margin-top button-group" ng-show="editableFormAddress.$visible">
												<button type="submit" class="button icon-tick blue-gradient" title="{{t 'Save'}}" ng-disabled="editableFormAddress.$waiting"></button>

												<button type="button" class="button icon-cross-round white-gradient" ng-disabled="editableFormAddress.$waiting" title="{{t 'Cancel'}}" ng-click="editableFormAddress.$cancel()"></button>
											</div>

										</form>
									</td>
								</tr>
								<!--<tr>
									<th scope="row">{{t 'companies:Phone'}}</th>
									<td ><span editable-tel="bill.phone" e-title="+xxxxxxxxxxx" buttons="no" e-form="phoneBtnForm" onaftersave="update()">\{{bill.phone|| "Non défini" | phone}}</span> <span class="icon-pencil grey" ng-click="phoneBtnForm.$show()" ng-hide="phoneBtnForm.$visible"></span></td>
								</tr>
								<tr>
									<th scope="row">{{t 'companies:Fax'}}</th>
									<td><span editable-tel="bill.fax" e-title="+xxxxxxxxxxx" buttons="no" e-form="faxBtnForm" onaftersave="update()">\{{bill.fax|| "Non défini"}}</span> <span class="icon-pencil grey" ng-click="faxBtnForm.$show()" ng-hide="faxBtnForm.$visible"></span></td>
								</tr>
								<tr>
									<th scope="row">{{t 'EMail'}}</th> 
									<td><a data-ng-href="mailto:\{{bill.email}}" target="_blank" editable-email="bill.email" buttons="no" e-form="eMailBtnForm" onaftersave="update()">\{{bill.email|| "Non defini"}}</a>
										<span class="icon-pencil grey" ng-click="eMailBtnForm.$show()" ng-hide="eMailBtnForm.$visible"></span></td>
								</tr>-->
								<tr>
									<th scope="row">{{t 'DateLastModification'}}</th>
									<td class="blue">\{{bill.updatedAt|date:'dd/MM/yyyy HH:mm'}}</td>
								</tr>
								<tr ng-show='bill.Status != "DRAFT"'>
									<th scope="row">{{t 'DownloadPDF'}}</th>
									<td><ul class="files-icons">
											<li style="height: inherit"><a data-ng-href="api/billSupplier/pdf/\{{bill._id}}" target="_blank" class="file-link">
													<span class="icon file-pdf"></span>
													\{{bill.ref}}.pdf
												</a></li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="eight-columns small-margin-bottom">

					<div class="float-right button-height">					
						<button ng-show="editable" class="button" data-ng-click="changeStatus('NOT_PAID')">
							<span class="button-icon green-gradient"><span class="icon-like"></span></span>
							{{t 'Validate'}}
						</button>
						<button ng-hide="editable || bill.Status == 'PAID'" class="button" data-ng-click="changeStatus('DRAFT')">
							<span class="button-icon orange-gradient"><span class="icon-unlike"></span></span>
							{{t 'ReOpen'}}
						</button>

						<button ng-hide="editable || bill.Status == 'PAID'" class="button" data-ng-click="changeStatus('PAID')">
							<span class="button-icon green-gradient"><span class="icon-credit-card"></span></span>
							{{t 'bills:ClassifyPaid'}}
						</button>


						<button class="button" data-ng-click="clone()">
							<span class="button-icon anthracite-gradient"><span class="icon-pages"></span></span>
							{{t 'ToClone'}}
						</button>

						<!-- Right side -->
						<button class="button margin-left" ng-disabled="!global.user.rights.bill.delete" ng-show="bill.Status == 'DRAFT'" confirmed-click="remove(bill)" ng-confirm-click="Supprimer la facture ?" title="Supprimer la facture">
							{{t 'Delete'}}
							<span class="button-icon right-side red-gradient"><span class="icon-trash"></span></span>
						</button>
					</div>
				</div>
				<div class="eight-columns">

					<tabset>
						<tab>
							<tab-heading>
								<span class="icon-tools">{{t 'bills:CardBill'}}</span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												<tr>
													<th scope="row">{{t 'Type'}}</th>
													<td><span editable-select="bill.type" buttons="no" e-form="typeBtnForm" onaftersave="update()" e-ng-options="s.id as s.label for s in dict.fk_bill_type.values">
															\{{showStatus('type','fk_bill_type')}}</span> <span class="icon-pencil grey" ng-show="editable && !typeBtnForm.$visible" ng-click="typeBtnForm.$show()"></span>
													</td>
												</tr>
												<tr>
													<th scope="row">{{t 'bills:Date'}}</th>
													<td><a href="#" ng-show="editable" editable-bsdate="bill.datec" e-datepicker-popup="dd/MM/yyyy" buttons="no" onaftersave="update()">
															\{{ (bill.datec | date:"dd/MM/yyyy") || 'empty'}}
														</a>
														<span ng-hide="editable">\{{ (bill.datec | date:"dd/MM/yyyy") || 'empty'}}</span></td>
												</tr>												
												<tr>
													<th scope="row">{{t 'bills:PaymentConditions'}}</th>
													<td><a href="#" editable-select="bill.cond_reglement_code" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_payment_term.values" onaftersave="update()">
															\{{ showStatus('cond_reglement_code','fk_payment_term')}}
														</a>
													</td>
												</tr>
												<tr>
													<th scope="row">{{t 'bills:PaymentMode'}}</th>
													<td><a href="#" editable-select="bill.mode_reglement_code" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_paiement.values" onaftersave="update()">
															\{{ showStatus('mode_reglement_code','fk_paiement')}}
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="two-columns"></div>
									<div class="four-columns">
										<p class="icon-plane green underline no-margin-bottom">Frais de transport</p>
										<table class="info-table">
											<tbody>
												<tr>
													<th>{{t 'AmountHT'}}</th>
													<td class="align-right">\{{bill.shipping| currency}}</td>
												</tr>
											</tbody>
										</table>

										<p class="icon-info green underline margin-top no-margin-bottom">{{t 'Totaux'}}</p>
										<table class="info-table">
											<tbody>
												<tr>
													<th>{{t 'AmountHT'}}</th>
													<td class="align-right">\{{bill.total_ht| currency}}</td>
												</tr>
												<tr>
													<th>{{t 'AmountVAT'}}</th><td></td>
												</tr>
												<tr>
													<td class="no-padding" colspan="2">
														<table class="info-table">
															<tbody>
																<tr ng-repeat="vat in bill.total_tva| orderBy:'tva_tx'">
																	<th class="align-right">\{{vat.tva_tx| number:2}} %</th>
																	<td class="align-right">\{{vat.total| currency}}</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<th>{{t 'AmountTTC'}}</th>
													<td class="strong h5 blue align-right">\{{bill.total_ttc| currency}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>


							</div>
						</tab>
						<!--<tab>
							<tab-heading>
								<span class="icon-tools">Facturation</span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												<tr>
													<th scope="row">{{t 'compta:CustomerAccountancyCode'}}</th>
													<td>\{{bill.customeraccountancycode}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'compta:SupplierAccountancyCode'}}</th>
													<td>\{{bill.code_compta_fournisseur}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:VATIsUsed'}}</th>
													<td >\{{bill.tva_assuj}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:VATIntra'}}</th>
													<td>\{{bill.tva_intra}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'bills:PaymentConditions'}}</th>
													<td>\{{bill.cond_reglement}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'bills:PaymentMode'}}</th>
													<td>\{{bill.mode_reglement}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'products:PriceLevel'}}</th>
													<td>\{{bill.price_level}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:CustomerRelativeDiscountShort'}}</th>
													<td>\{{bill.remise_client}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'bank:RIB'}}</th>
													<td>\{{bill.iban}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:ThirdPartyBilling'}}</th>
													<td>\{{bill.cptBilling}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>
						<tab disabled="bill.fournisseur=='NO'">
							<tab-heading>
								<span class="icon-box">Fournisseur</span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												<tr>
													<th scope="row">{{t 'Categories'}}</th>
													<td>\{{bill.Tag}}</td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>
						<tab>
							<tab-heading>
								<span class="icon-tick">Checklist<span ng-show='checklist' class="count right">\{{checklist}}</span></span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												<tr>
													<th width="90%" scope="row">Extrait KBIS (moins de 3 mois)</th>
													<td><input type="checkbox" data-ng-model="bill.checklist.KBIS" data-ng-checked="bill.checklist.KBIS" data-ng-change="update()" />
													</td>
												</tr>
												<tr ng-show="bill.fournisseur=='SUBCONTRACTOR'">
													<th scope="row">Licences nationale et communautaire</th>
													<td><input type="checkbox" data-ng-model="bill.checklist.licencesNationaleCommunautaire" data-ng-checked="bill.checklist.licencesNationaleCommunautaire" data-ng-change="update()" />
													</td>
												</tr>
												<tr ng-show="bill.fournisseur=='SUBCONTRACTOR'">
													<th scope="row">Attestation de régularité fiscale</th>
													<td><input type="checkbox" data-ng-model="bill.checklist.attestationRegulFiscale" data-ng-checked="bill.checklist.attestationRegulFiscale" data-ng-change="update()" />
													</td>
												</tr>
												<tr ng-show="bill.fournisseur=='SUBCONTRACTOR'">
													<th scope="row">Attestation URSAFF</th>
													<td><input type="checkbox" data-ng-model="bill.checklist.attetationUrsaff" data-ng-checked="bill.checklist.attetationUrsaff" data-ng-change="update()" />
													</td>
												</tr>
												<tr ng-show="bill.fournisseur=='SUBCONTRACTOR'">
													<th scope="row">Attestation d'assurance à jour - Responsabilité Civile et Marchandise Transportée</th>
													<td><input type="checkbox" data-ng-model="bill.checklist.attestationAssurance" data-ng-checked="bill.checklist.attestationAssurance" data-ng-change="update()" />
													</td>
												</tr>
												<tr ng-show="bill.fournisseur=='SUBCONTRACTOR'">
													<th scope="row">Attestation sur l'honneur</th>
													<td><input type="checkbox" data-ng-model="bill.checklist.attestationHonneur" data-ng-checked="bill.checklist.attestationHonneur" data-ng-change="update()" />
													</td>
												</tr>
												<tr ng-show="bill.fournisseur=='SUBCONTRACTOR'">
													<th scope="row">Copie Permis de conduire et Déclaration Unique d'Embauche (DUE)</th>
													<td><input type="checkbox" data-ng-model="bill.checklist.permisConduireDUE" data-ng-checked="bill.checklist.permisConduireDUE" data-ng-change="update()" />
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>-->
						<tab>
							<tab-heading>
								<span class="icon-pencil">Notes<span ng-if='bill.notes.length' class="count orange-bg right">\{{bill.notes.length}}</span></span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">

								<div class="columns">
									<div class="six-columns">
										<div class="button-height block-label margin-bottom">
											<h5 for="note" class="underline green">
												Ajouter une note
											</h5>
											<textarea id="note" cols="30" rows="5" data-ng-model="note" class="input full-width"></textarea>

											<div class="margin-top button-height float-right">
												<button type="button" data-ng-click="addNote()" class="button icon-plus blue-gradient">{{t 'Add'}}</button>
											</div>
										</div>
									</div>


									<div class="six-columns">
										<div class="scroll" style="height:200px">
											<div data-ng-repeat="vnote in bill.notes| orderBy:'-datec'" class="large-box-shadow white-gradient with-border margin-bottom">
												<div class="with-small-padding silver-gradient no-margin-top">
													<span class="icon-speech"><b>\{{vnote.author.name}}</b> <i>\{{vnote.datec| date:'dd-MM-yyyy HH:mm:ss'}}</i></span>
													<div class="float-right" title="{{t 'ticket:TimeCreate'}}" data-ng-init='timeComment = countDown(vnote.datec, false)'><span data-ng-show="timeComment.days > 0">\{{timeComment.days}}j</span><span data-ng-hide="timeComment.days > 0">{{t 'Today'}}</span></div>
												</div>
												<pre class="with-small-padding" data-ng-if="vnote.note">\{{vnote.note}}</pre>
											</div>
										</div>
									</div>
								</div>


							</div>
						</tab>
						<tab ng-if="countTicket">
							<tab-heading>
								<span class="icon-ticket">Tickets<span ng-show='countTicket' class="count black-bg right">\{{countTicket}}</span></span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<!--<div class="table-header silver-gradient glossy button-height">
									<div class="float-right">
										{{t 'Search'}} <input type="text" data-ng-model="filterOptionsTicket.filterText" class="input small mid-margin-left">
									</div>
								</div>-->
								<div class="gridStyle"  data-ng-grid="gridOptionsTicket"></div>
								<!--<div class="table-footer silver-gradient">
									\{{countTicket}} ligne(s)
								</div>-->
							</div>
						</tab>
					</tabset>
				</div>

				<div class="twelve-columns">
					<h5 class="green underline">{{t 'bills:Details'}}</h5>

					<div class="table-header silver-gradient glossy button-height">
						<div class="row">
							<div class="col-sm-8">
								<div class="button-group">
									<button class="button icon-plus blue-gradient"  ng-disabled="!editable" data-ng-click="addNewLine()">{{t 'Add'}}</button>
									<button title="{{t 'Refresh'}}" class="button" data-ng-click="findOne()"><span class="icon-redo"></span></button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="float-right">
									{{t 'Search'}} <input type="text" data-ng-model="filterOptionsLines.filterText" class="input small mid-margin-left">
								</div>
							</div>
						</div>
					</div>
					<div class="gridStyle"  data-ng-grid="gridOptionsLines" ng-style="style(200)" resize></div>
					<div class="table-footer silver-gradient">
						<div class="float-right strong">
							Total HT : \{{bill.total_ht| currency}}  
						</div>
						\{{bill.lines.length}} ligne(s)
					</div>
				</div>

			</div>
		</div>
	</div>
</section>