<section data-ng-controller="ContactsController">
	<hgroup id="main-title" class="thin">
		<h1>Liste des contacts</h1>
	</hgroup>

	<div class="with-padding" data-ng-init="find()">

		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
                            <div class="col-sm-6"></div>
				<div class="col-sm-2">
					Société <select ng-model="type" ng-options="c as c.name for c in types track by c.id" data-ng-change="find()" class=""></select>
				</div>
				<div class="col-sm-2">
					{{t 'Etat'}} <select ng-model="type" ng-options="c as c.name for c in types track by c.id" data-ng-change="find()" class=""></select>
				</div>
				<div class="col-sm-2">
					<div class="float-right">
						<input type="text" placeholder="{{t 'Search'}}" data-ng-model="filterOptionsContact.filterText" class="input small mid-margin-left">
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptionsContact" ng-style="style(100)" resize></div>
		<div class="table-footer silver-gradient">
			\{{countContact}} ligne(s)
		</div>
	</div>
</section>
