htdocs/conf/conf.php
htdocs/conf/conf.php.old
htdocs/conf/conf.php.bak
htdocs/install/install.lock
htdocs/test.php
documents/
/nbproject/private/
default.properties
.settings/
.buildpath
dolibarr_install.log
doxygen_warnings.log
.project
.tern-project
.DS_Store
.texlipse
couchdb.stderr
couchdb.stdout
*.map
nodejs/locales/dev/
nodejs/uploads/
nodejs/public/js/lib
nodejs/bower_components
.c9/
