<section data-ng-controller="SearchController" ng-init="init()">
    <div style="padding: 8px 14px 12px">

        <h2>Resultat Recherche : <span class="thin">\{{searchItem}}</span></h2>
        
        <div class="col-lg-10">
            <div class="row margin-bottom">

                <div class="input-group">
                    <input type="text" ng-model="searchItem" my-focus="true" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="btnSearch()" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
                <h5 class="thin" ng-if="searchItem.length > 0"><strong>\{{resultsCount}}</strong> résultats trouvés</h5>
            </div><!-- /.row -->
            <div class="row margin-top">

                <ul class="unstyled-list">

                    <li>
                        <ul class="message-menu">
                            <li ng-repeat="result in results" style="cursor: pointer">

                                <a ng-href="" title="\{{result.name}}" ng-click="showContact(result._id)">
                                    <strong class="blue">\{{result.name}}</strong>
                                    <span class="tag \{{result.status.css}} glossy">\{{result.status.name|| 'indéfini'}}</span>
                                    <address style="font-style: normal; line-height: 1.5; font-size: 14px">
                                        <abbr title="Email">Email :</abbr> <a href="" class="green"><strong>\{{result.email|| 'indéfini'}}</strong></a>,
                                        <abbr title="Travail">Fonction :</abbr><strong> \{{result.poste|| 'indéfini'}} </strong><abbr title="chez">chez:</abbr> <strong>\{{result.societe.name|| 'indéfini'}}</strong>,
                                        <abbr title="Phone">N° Tél :</abbr> <strong>\{{result.phone|| 'indéfini'}}</strong>
										<abbr title="Tag">{{t 'Keywords'}} : </abbr> <strong>\{{result.Tag|| 'indéfini'}}</strong>
                                    </address>
                                </a>
                            </li>

                        </ul>

                    </li>

                </ul>
            </div>
        </div>
        <!--
            <pagination 
                total-items="resultsCount" 
                ng-model="currentPage" 
                max-size="maxSize" 
                class="pagination-sm" 
                boundary-links="true" 
                items-per-page="numPerPage"
                previous-text ="Précédent" next-text="Suivant"
                first-text="Premier" last-text="Dernier">
            </pagination>
        -->
        
    </div>
</section>