
<form data-ng-init='init()' data-ng-submit='create()' class="no-margin-bottom block margin-bottom wizard same-height wizard-enabled" style="width: 800px;margin: 0 auto;">

    <!-- Block style is optional, you can use any layout -->
    <h3 class="block-title">{{t 'banks:NewBankCategory'}}</h3>

    <!-- Each form step should be wrapped in a fieldset -->
    <!-- 1. Profile-->
    <fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(1)'>

        <div class="field-block">
            <h4>{{t 'Hello'}}</h4>
            <p>Bienvenue sur l'interface de création des categorie de banque.</p>
        </div>

        <div class="field-block button-height">
            <label for="name"><b>{{t 'banks:Category'}}</b></label>
            <input required type="text" data-ng-model="bankCategory.name" id="name"  class="input" autocomplete="off">

        </div>
        <div class="field-block button-height">
            <label for="notes"><b>{{t 'Description'}}</b></label>
            <textarea class='input' id="notes" rows='3' cols="60" data-ng-model="bankCategory.description"></textarea>                                
        </div>

        <div class="field-block button-height wizard-controls clearfix">
            <button type="submit" class="button glossy mid-margin-right float-right" data-ng-disabled="!(bankCategory.name != null)">
                <span class="button-icon"><span class="icon-tick"></span></span>
                {{t 'Create'}}
            </button>
        </div>	
    </fieldset>
</form>