{{> header}}

<body class="clearfix with-menu">
	<header id="title-bar" role='banner'>
		<div data-ng-controller="HeaderController">
			<h2>\{{title}}</h2>
		</div>
	</header>

	<!-- Button to open/hide menu --> 
	<a id="open-menu" href='#'>
		<span>Menu</span>
	</a>

	<!-- Button to open/hide shortcuts -->
	<a id="open-shortcuts" href='#'>
		<span class="icon-thumbs"></span>
	</a>

	<!-- Main content -->
	<section id="main" role="main">
		<section  data-ng-view></section>
	</section>
	<script type="text/javascript">
		window.user = JSON.parse($.ajax({
			url: "api/session",
			dataType: "json",
			async: false
		}).responseText);
	</script>
	<!-- include menuleft-->

	<!-- Menu content-->
	<section id="menu" role='complementary'>
		{{> menu}}
	</section>

	<footer id="footer">
		{{> footer}}
	</footer>
</body>
</html>