ul#shortcuts.children-tooltip.tooltip-right(role='complementary')
    li.home.current
        a.shortcut-dashboard(href='index.php?idmenu=menu:home', title='Dashboard')
          | Dashboard
      li
        span.shortcut-messages(title='Messages')
          | Messages
      li.agendaList
        a.shortcut-agenda(href='agenda/list.php?idmenu=menu:agendaList', title='Agenda')
          | Agenda
      li
        span.shortcut-contacts(title='Contacts')
          | Contacts
      li
        span.shortcut-medias(title='Medias')
          | Medias
      li
        span.shortcut-stats(title='Statistiques de vente')
          | Statistiques de vente
      li
        span.shortcut-notes(title='Notes')
          | Notes
      li.at-bottom
        span.shortcut-settings(title='Settings')
          | Settings
      li.trashList.at-bottom-trash
        a.shortcut-trash-empty(href='trash/list.php?idmenu=menu:trashList', title='RecycleBin')
          | RecycleBin
