
<section data-ng-controller="IndexController">
	<hgroup id="main-title" class="thin">
		<h1>Liste des tournées</h1>
	</hgroup>

	<div class="with-padding">

		<div id="grid"></div>
		<script>
			$(document).ready(function() {
				var crudServiceBaseUrl = "api/europexpress/tournee"
						,
						dataSource = new kendo.data.DataSource({
					transport: {
						read: {
							url: crudServiceBaseUrl,
							type: "GET",
							dataType: "json"
						},
						update: {
							url: crudServiceBaseUrl,
							type: "PUT",
							dataType: "json"
						},
						destroy: {
							url: crudServiceBaseUrl,
							type: "DELETE",
							dataType: "json"
						},
						create: {
							url: crudServiceBaseUrl,
							type: "POST",
							dataType: "json"
						},
						parameterMap: function(options, operation) {
							if (operation !== "read" && options.models) {
								return {models: kendo.stringify(options.models)};
							}
						}
					},
					error: function(e) {
						// log error
						alert(e.xhr.responseText);
					},
					batch: true,
					pageSize: 50,
					schema: {
						model: {
							id: "_id",
							fields: {
								_id: {editable: false, nullable: true},
								storehouse: {editable: true, validation: {required: true}},
								datec: {type: "date", editable: true},
								client: {editable: true, defaultValue: {id: null, name: ""}},
								forfait: {editable: true, type: "boolean", defaultValue: false},
								Mond_AM: {editable: true, type: "boolean", defaultValue: false},
								Mond_PM: {editable: true, type: "boolean", defaultValue: false},
								Tues_AM: {editable: true, type: "boolean", defaultValue: false},
								Tues_PM: {editable: true, type: "boolean", defaultValue: false},
								Wedn_AM: {editable: true, type: "boolean", defaultValue: false},
								Wedn_PM: {editable: true, type: "boolean", defaultValue: false},
								Thur_AM: {editable: true, type: "boolean", defaultValue: false},
								Thur_PM: {editable: true, type: "boolean", defaultValue: false},
								Frid_AM: {editable: true, type: "boolean", defaultValue: false},
								Frid_PM: {editable: true, type: "boolean", defaultValue: false},
								Satu_AM: {editable: true, type: "boolean", defaultValue: false}
							}
						}
					},
					sort: {field: "storehouse", dir: "asc"}
				});
				$("#grid").kendoGrid({
					dataSource: dataSource,
					pageable: {
						refresh: true,
						pageSize: 50,
						pageSizes: [5, 10, 20, 50],
						buttonCount: 5
					},
					filterable: {
						extra: false
					},
					//scrollable: {
					//	virtual: true
					//},
					scrollable: false,
					groupable: false,
					sortable: true,
					//height: 430,
					toolbar: [
						{
							name: "create",
							text: "Nouvelle tournée",
							className: "k-button k-button-icontext k-grid-add button",
						}
					],
					columns: [
						{field: "storehouse", title: "Tournée"},
						{field: "client", editor: clientDropDownEditor, title: "Client", template: "#=client.name#"},
						{field: "forfait", title: "Au forfait", template: "#if (forfait) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#", width: "40px"},
						{field: "Mond_AM", filterable: false, title: "{{t 'date.dayShort.1'}} AM", template: "#if (Mond_AM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Mond_PM", filterable: false, title: "{{t 'date.dayShort.1'}} PM", template: "#if (Mond_PM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Tues_AM", filterable: false, title: "{{t 'date.dayShort.2'}} AM", template: "#if (Tues_AM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Tues_PM", filterable: false, title: "{{t 'date.dayShort.2'}} PM", template: "#if (Tues_PM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Wedn_AM", filterable: false, title: "{{t 'date.dayShort.3'}} AM", template: "#if (Wedn_AM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Wedn_PM", filterable: false, title: "{{t 'date.dayShort.3'}} PM", template: "#if (Wedn_PM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Thur_AM", filterable: false, title: "{{t 'date.dayShort.4'}} AM", template: "#if (Thur_AM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Thur_PM", filterable: false, title: "{{t 'date.dayShort.4'}} PM", template: "#if (Thur_PM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Frid_AM", filterable: false, title: "{{t 'date.dayShort.5'}} AM", template: "#if (Frid_AM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Frid_PM", filterable: false, title: "{{t 'date.dayShort.5'}} PM", template: "#if (Frid_PM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},
						{field: "Satu_AM", filterable: false, title: "{{t 'date.dayShort.6'}} AM", template: "#if (Satu_AM) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#"},

						{command: [{name: "edit", text: {edit: "Editer", update: "Enregistrer", cancel: "Annuler"}}/*, {name: "destroy", text: "Supp."}*/], title: "&nbsp;", width: "90px"}],
					editable: {
						mode: "popup",
						window: {
							width: "400px"
						}
					}
				});
			});

			function clientDropDownEditor(container, options) {
				$('<input id="id"/>')
						.attr("name", options.field)
						.appendTo(container)
						.kendoAutoComplete({
					minLength: 1,
					dataTextField: "name",
					filter: "contains",
					dataSource: {
						serverFiltering: true,
						serverPaging: true,
						pageSize: 5,
						transport: {
							read: {
								url: "api/societe/autocomplete",
								type: "POST",
								dataType: "json"
							}
						}
					}
				});
			}
		</script>
	</div>
</section>