<section data-ng-controller="EETourneeController" class="scroll" style="height:500px" ng-style="style(0)" resize>
	<hgroup id="main-title" class="thin">
		<h1>Liste des tournées</h1>
	</hgroup>

	<div class="with-padding">
		<div kendo-grid k-data-source="dataSource" k-columns='[
			 {"field": "storehouse", "title": "Tournée"},
			 {"field": "client", "editor": clientDropDownEditor, "title": "Client", "template": "#=client.name#"},
			 {"field": "forfait", "title": "Au forfait", "template": "#if (forfait) {# <div align=center><input type=\"checkbox\" disabled=\"disabled\" checked></div>#} else {# <div align=center><input type=\"checkbox\" disabled=\"disabled\"></div> #}#", "width": "40px"},
			 {"field": "Mond_mode", "editor": modeDropDownEditor, "filterable": false, "title": "{{t 'date.dayShort.1'}}", "template": "#if(Mond_mode.name) {# #=Mond_mode.name#<br><small>#=kendo.stringify(Mond_panier)#<br>#=Mond_hNuit#h de nuit</small> #}#"},
			{"field": "Mond_hNuit", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.1'}} H. nuit", "format":"{0:n0}"},
			{"field": "Mond_panier", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.1'}} Paniers", "editor":panierMultiSelect},
			{"field": "Tues_mode", "editor": modeDropDownEditor, "filterable": false, "title": "{{t 'date.dayShort.2'}}", "template": "#if(Tues_mode.name) {# #=Tues_mode.name#<br><small>#=kendo.stringify(Tues_panier)#<br>#=Tues_hNuit#h de nuit</small> #}#"},
			{"field": "Tues_hNuit", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.2'}} H. nuit", "format":"{0:n0}"},
			{"field": "Tues_panier", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.2'}} Paniers", "editor":panierMultiSelect},
			{"field": "Wedn_mode", "editor": modeDropDownEditor, "filterable": false, "title": "{{t 'date.dayShort.3'}}", "template": "#if(Wedn_mode.name) {# #=Wedn_mode.name#<br><small>#=kendo.stringify(Wedn_panier)#<br>#=Wedn_hNuit#h de nuit</small> #}#"},
			{"field": "Wedn_hNuit", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.3'}} H. nuit", "format":"{0:n0}"},
			{"field": "Wedn_panier", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.3'}} Paniers", "editor":panierMultiSelect},
			{"field": "Thur_mode", "editor": modeDropDownEditor, "filterable": false, "title": "{{t 'date.dayShort.4'}}", "template": "#if(Thur_mode.name) {# #=Thur_mode.name#<br><small>#=kendo.stringify(Thur_panier)#<br>#=Thur_hNuit#h de nuit</small> #}#"},
			{"field": "Thur_hNuit", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.4'}} H. nuit", "format":"{0:n0}"},
			{"field": "Thur_panier", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.4'}} Paniers", "editor":panierMultiSelect},
			{"field": "Frid_mode", "editor": modeDropDownEditor, "filterable": false, "title": "{{t 'date.dayShort.5'}}", "template": "#if(Frid_mode.name) {# #=Frid_mode.name#<br><small>#=kendo.stringify(Frid_panier)#<br>#=Frid_hNuit#h de nuit</small> #}#"},
			{"field": "Frid_hNuit", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.5'}} H. nuit", "format":"{0:n0}"},
			{"field": "Frid_panier", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.5'}} Paniers", "editor":panierMultiSelect},
			{"field": "Satu_mode", "editor": modeDropDownEditor, "filterable": false, "title": "{{t 'date.dayShort.6'}}", "template": "#if(Satu_mode.name) {# #=Satu_mode.name#<br><small>#=kendo.stringify(Satu_panier)#<br>#=Satu_hNuit#h de nuit</small> #}#"},
			{"field": "Satu_hNuit", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.6'}} H. nuit", "format":"{0:n0}"},
			{"field": "Satu_panier", "hidden": true, "filterable": false, "title": "{{t 'date.dayShort.6'}} Paniers", "editor":panierMultiSelect},
			{"command": [{"name": "edit", "text": {"edit": "Editer", "update": "Enregistrer", "cancel": "Annuler"}}], "title": "&nbsp;", "width": "90px"}]'
			k-pageable='{ "refresh": true, "pageSizes": [5, 10, 20, 50], "buttonCount": 5}'
			k-sortable="true" k-filterable="true"
			k-toolbar='[{
			"name": "create",
			"text": "Nouvelle tournée",
			"className": "k-button k-button-icontext k-grid-add button"
			}]'
			k-editable='{
			"mode": "popup",
			"window": {
			"width": "400px"
			}
			}'
			></div>
	</div>
</section>