<div class="new-row-mobile four-columns six-columns-tablet twelve-columns-mobile">
	<div class="block large-margin-bottom">

		<div class="block-title">
			<h3>Chiffres d'affaires HT</h3>
		</div>

		<table class="simple-table responsive-table responsive-table-on" data-ng-init="familleCA()">

			<thead>
				<tr>
					<th scope="col" class="header">Familles</th>
					<th scope="col" width="33%" class="header align-right">Mai</th>
					<th scope="col" width="33%" class="header align-right"><i>Juin</i></th>
				</tr>
			</thead>

			<tfoot>
				<tr>
					<td colspan="2" class="align-right">
						CA Mai : <strong>\{{total_ca.real | currency}}</strong>
					</td>
					<td class="align-right">
						Prev. : <i>\{{total_ca.prev | currency}}</i>
					</td>
				</tr>
			</tfoot>

			<tbody>
				<tr data-ng-repeat="ca in familles | orderBy:'family'">
					<th scope="row">
						\{{ca.family}}
					</th>
					<td class="align-right">\{{ca.total_ht | currency}}</td>
					<td class="align-right "><i>-</i></td>
				</tr>
			</tbody>

		</table>

	</div>
</div>
