<div class="new-row-mobile four-columns six-columns-tablet twelve-columns-mobile">

	<div class="block large-margin-bottom">

		<div class="block-title">
			<h3>Détails des charges</h3>
		</div>

		<table class="simple-table responsive-table responsive-table-on" data-ng-init="familleCOST()">

			<thead>
				<tr>
					<th scope="col" class="header">Familles</th>
					<th scope="col" width="33%" class="header align-right">Mai</th>
					<th scope="col" width="33%" class="header align-right"><i>Juin</i></th>
				</tr>
			</thead>

			<tfoot>
				<tr>
					<td colspan="2" class="align-right">
						Charges HT Mai : <strong>\{{total_cost.real | currency}}</strong>
					</td>
					<td class="align-right">
						Prev. : <i>\{{total_cost.prev | currency}}</i>
					</td>
				</tr>
			</tfoot>

			<tbody>
				<tr data-ng-repeat="cost in famillesCost | orderBy:'family'">
					<th scope="row">
						\{{cost.family}}
					</th>
					<td class="align-right">\{{cost.total_ht | currency}}</td>
					<td class="align-right "><i>-</i></td>
				</tr>
			</tbody>

		</table>

	</div>
</div>
