<div ng-if="global.user.rights.box.report" class="new-row-mobile four-columns six-columns-tablet twelve-columns-mobile">

    <h2 class="relative thin">
        Comptes Rendus
    </h2>

    <div style="height: 350px; min-height: 10px; overflow: auto;">
        <div id="scrollArea" >

            <ul class="unstyled-list">
                
                <li>
                    <ul class="message-menu" ng-init="findReports()">
                        <li ng-repeat="report in reports">
                                <span class="message-info">
                                        <span class="blue">\{{report.createdAt | date:'MMM dd HH:mm'}}</span>
                                </span>
                                <a href="" ng-click="showReport(report._id)">
										<span class="grey">\{{report.dateReport | date:'dd/MM/yyyy'}}</span> - 
                                        <strong class="blue">\{{report.author.name}}</strong><br>
										<span class="icon green icon-home">\{{report.societe.name}}</span> <small ng-if="report.lead.name">Affaire : \{{report.lead.name}}</small>
                                        <p class="intro">\{{report.comment}}</p>
                                </a>
                        </li>
                        <li>
                            <p style="text-align: center; cursor: pointer" ng-click="findReports()"><strong class="blue">Afficher plus</strong></p>
                        </li>
                        
                    </ul>
                </li>
                
            </ul>


        </div>
    </div>
</div>