<section data-ng-controller="SocieteController">
	<div data-ng-init="findOne()">
		<hgroup id="main-title" class="thin">
			<h1>\{{societe.name}}</h1>
			<span class="valign-top tag glossy" data-ng-class="societe.status.css">\{{societe.status.name}}</span>
		</hgroup>
		<div class="with-padding">
			<div class="columns">
				<div class="four-columns twelve-columns-mobile">
					<div class="boxed">
						<p class="icon-info green underline">Infos société</p>

						<table class="info-table">
							<tbody>
								<tr>
									<th width="40%" scope="row">{{t 'companies:ThirdPartyName'}}</th>
									<td><span class="blue h4" editable-text="societe.name" buttons="no" e-form="nameBtnForm" onaftersave="update()">
											\{{societe.name}}
										</span> <span class="icon-pencil grey" ng-click="nameBtnForm.$show()" ng-hide="nameBtnForm.$visible"></span>
									</td>
								</tr>
								<tr>
									<th scope="row">{{t 'companies:ThirdPartyCode'}}</th>
									<td>\{{societe.code_client}}</td>
								</tr>
								<tr>
									<th scope="row">{{t 'Entity'}}</th>
									<td><small class="tag anthracite-gradient glossy">\{{societe.entity}}</small></td>
								</tr>
								<tr>
									<th scope="row">{{t 'companies:Supplier'}}</th>
									<td>\{{societe.fournisseur}}</td>
								</tr>
								<tr>
									<th scope="row">{{t 'companies:Address'}}</th>
									<td>\{{societe.address}}<br />
										\{{societe.zip}} \{{societe.town}} \{{societe.country}}
									</td>
								</tr>
								<tr>
									<th scope="row">{{t 'companies:Phone'}}</th>
									<td >\{{societe.phone}}</td>
								</tr>
								<tr>
									<th scope="row">{{t 'companies:Fax'}}</th>
									<td>\{{societe.fax}}</td>
								</tr>
								<tr>
									<th scope="row">{{t 'EMail'}}</th>
									<td>\{{societe.email}}</td>
								</tr>
								<tr>
									<th scope="row">{{t 'Web'}}</th>
									<td>\{{societe.url}}</td>
								</tr>
								<tr>
									<th scope="row">{{t 'DateLastModification'}}</th>
									<td class="blue">\{{societe.updatedAt |date:'dd/MM/yyyy HH:mm'}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h5 class="green underline">Les dernieres notes</h5>

					<div class="scroll" style="height:60px">
						<div data-ng-repeat="vnote in vehicule.notes | orderBy:'-datec'" class="large-box-shadow white-gradient with-border margin-bottom">
							<div class="with-small-padding silver-gradient no-margin-top">
								<span class="icon-speech"><b>\{{vnote.author.name}}</b> <i>\{{vnote.datec | date:'dd-MM-yyyy HH:mm:ss'}}</i></span>
								<div class="float-right" title="{{t 'ticket:TimeCreate'}}" data-ng-init='timeComment=countDown(vnote.datec, false)'><span data-ng-show="timeComment.days > 0">\{{timeComment.days}}j</span><span data-ng-hide="timeComment.days > 0">{{t 'Today'}}</span></div>
							</div>
							<pre class="with-small-padding" data-ng-if="vnote.note">\{{vnote.note}}</pre>
						</div>
					</div>
				</div>
				<div class="eight-columns">

					<tabset>
						<!--<tab>
							<tab-heading>
								<span class="icon-info">Infos société</span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">

								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												<tr>
													<th width="40%" scope="row">{{t 'companies:ThirdPartyName'}}</th>
													<td>
													</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:ThirdPartyCode'}}</th>
													<td>\{{societe.code_client}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:ProspectCustomer'}}</th>
													<td><span class="tag small glossy"data-ng-class="societe.status.css">\{{societe.status.name}}</span></td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Supplier'}}</th>
													<td>\{{societe.fournisseur}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Address'}}</th>
													<td>\{{societe.address}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Zip'}}</th>
													<td>\{{societe.zip}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Town'}}</th>
													<td>\{{societe.town}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Country'}}</th>
													<td>\{{societe.country}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Phone'}}</th>
													<td >\{{societe.phone}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Fax'}}</th>
													<td>\{{societe.fax}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'EMail'}}</th>
													<td>\{{societe.email}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'Web'}}</th>
													<td>\{{societe.url}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'DateLastModification'}}</th>
													<td class="blue">\{{societe.updatedAt |date:'dd/MM/yyyy HH:mm'}}</td>
												</tr> 
												<tr>
													<th scope="row">{{t 'Entity'}}</th>
													<td>\{{societe.entity}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>-->
						
						<tab>
							<tab-heading>
								<span class="icon-cart">Client/prospect</span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												<tr>
													<th scope="row">{{t 'companies:ProspectCustomer'}}</th>
													<td><span class="tag small glossy" data-ng-class="societe.status.css">\{{societe.status.name}}</span></td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:ProspectLevelShort'}}</th>
													<td><span class="tag small glossy" data-ng-class="societe.prospectLevel.css">\{{societe.prospectLevel.name}}</span></td>
												</tr>
												<tr>
													<th scope="row">{{t 'commercial:Commercial'}}</th>
													<td >\{{societe.commercial_id.name}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'zonegeo'}}</th>
													<td>\{{societe.zonegeo}}</td>
												</tr>

												<tr>
													<th scope="row">{{t 'Categories'}}</th>
													<td>\{{societe.Tag}}</td>
												</tr>

												<tr>
													<th scope="row">{{t 'companies:ThirdPartyType'}}</th>
													<td>\{{societe.typent_id}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Staff'}}</th>
													<td>\{{societe.effectif_id}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:JuridicalStatus'}}</th>
													<td>\{{societe.forme_juridique_code}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Capital'}}</th>
													<td>\{{societe.capital}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:PriceLevel'}}</th>
													<td>\{{societe.price_level}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:CustomerRelativeDiscountShort'}}</th>
													<td>\{{societe.remise_client}}</td>
												</tr>
												
												ProfId - idprof


											</tbody>
										</table>
									</div>
								</div>


							</div>
						</tab>
						<tab>
							<tab-heading>
								<span class="icon-tools">Comptabilité</span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												<tr>
													<th scope="row">{{t 'companies:ProspectCustomer'}}</th>
													<td><span class="tag small glossy"data-ng-class="societe.status.css">\{{societe.status.name}}</span></td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:Supplier'}}</th>
													<td>\{{societe.fournisseur}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'compta:CustomerAccountancyCode'}}</th>
													<td>\{{societe.customeraccountancycode}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'compta:SupplierAccountancyCode'}}</th>
													<td>\{{societe.code_compta_fournisseur}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:VATIsUsed'}}</th>
													<td >\{{societe.tva_assuj}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:VATIntra'}}</th>
													<td>\{{societe.tva_intra}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'bills:PaymentConditions'}}</th>
													<td>\{{societe.cond_reglement}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'bills:PaymentMode'}}</th>
													<td>\{{societe.mode_reglement}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'banks:RIB'}}</th>
													<td>\{{societe.iban}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'companies:ThirdPartyBilling'}}</th>
													<td>\{{societe.cptBilling}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>
						<tab>
							<tab-heading>
								<span class="icon-box">Fournisseur</span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												
												<tr>
													<th scope="row">{{t 'companies:Supplier'}}</th>
													<td>\{{societe.fournisseur}}</td>
												</tr>
												<tr>
													<th scope="row">{{t 'Categories'}}</th>
													<td>\{{societe.Tag}}</td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>
						<tab>
							<tab-heading>
								<span class="icon-tick">Checklist<span class="count right">\{{checklist}}</span></span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">
								<div class="columns">
									<div class="six-columns">
										<table class="simple-table">
											<tbody>
												<tr>
													<th width="40%" scope="row">KBIS</th>
													<td><input type="checkbox" data-ng-model="vehicule.checklist.carteGrise" data-ng-checked="vehicule.checklist.carteGrise" data-ng-change="update()" />
													</td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>
						<tab>
							<tab-heading>
								<span class="icon-pencil">Notes</span>
							</tab-heading>
							<div class="boxed relative large-box-shadow">

								<div class="columns">
									<div class="six-columns">
										<div class="button-height block-label margin-bottom">
											<h5 for="note" class="underline green">
												Ajouter une note
											</h5>
											<textarea id="note" cols="30" rows="5" data-ng-model="note" class="input full-width"></textarea>

											<div class="margin-top button-height float-right">
												<button type="button" data-ng-click="addNote()" class="button icon-plus blue-gradient">{{t 'Add'}}</button>
											</div>
										</div>
									</div>


									<div class="six-columns">
										<div class="scroll" style="height:360px">
											<div data-ng-repeat="vnote in vehicule.notes | orderBy:'-datec'" class="large-box-shadow white-gradient with-border margin-bottom">
												<div class="with-small-padding silver-gradient no-margin-top">
													<span class="icon-speech"><b>\{{vnote.author.name}}</b> <i>\{{vnote.datec | date:'dd-MM-yyyy HH:mm:ss'}}</i></span>
													<div class="float-right" title="{{t 'ticket:TimeCreate'}}" data-ng-init='timeComment=countDown(vnote.datec, false)'><span data-ng-show="timeComment.days > 0">\{{timeComment.days}}j</span><span data-ng-hide="timeComment.days > 0">{{t 'Today'}}</span></div>
												</div>
												<pre class="with-small-padding" data-ng-if="vnote.note">\{{vnote.note}}</pre>
											</div>
										</div>
									</div>
								</div>


							</div>
						</tab>
					</tabset>
				</div>

				<div class="six-columns new-row">
					<div class="panel-content linen">

						<div class="panel-control align-right">
							<div class="float-right">
								<div class="button-group">
									<progressbar style="width:100px;" class="progress-striped" value="35" type="success">35%</progressbar>
								</div>
								<div class="button-group">
									<div class="button-height">
										<input type="file" ng-model="myFiles" ng-file-select="onFileSelect($files)" multiple class="file">
										<!--<a href="#" class="button icon-cloud-upload margin-left">Add file...</a>-->
									</div>
								</div>
							</div>



						</div>

						<div id="panel-content" class="panel-load-target scrollable" style="height:700px">
							<div class="with-padding">
								<p ng-file-drop="onFileSelect($files)" class="message icon-info-round white-gradient drop-box dark-stripes animated" ng-show="dropSupported">drop files here</p>
								<p ng-file-drop-available="dropSupported=true" class="message icon-info-round white-gradient" ng-show="!dropSupported">HTML5 Drop File is not supported!</p>

								<ul class="files-icons on-dark" data-ng-init="getFileTypes()">
									<!--<li>
										<a href="#" class="file-link">
											<span class="icon folder-net"></span>
											Dossier public
										</a>
									</li>-->
									<li data-ng-repeat="file in vehicule.files">
										<span class="icon" data-ng-class="fileType(file.name)"></span>
										<div class="controls">
											<span class="button-group compact children-tooltip">
												<a data-ng-href="api/europexpress/vehicules/file/\{{vehicule._id}}/\{{file.name}}" target="_blank" class="button icon-eye" title="Ouvrir"></a>
												<a data-ng-href="api/europexpress/vehicules/file/\{{vehicule._id}}/\{{file.name}}?download=1" class="button icon-download" title="Télécharger"></a>
												<button data-ng-click="suppressFile(vehicule._id, file.name, $index)" class="button icon-trash" title="Supprimer"></button>
											</span>
										</div>
										<a data-ng-href="api/europexpress/vehicules/file/\{{vehicule._id}}/\{{file.name}}" target="_blank">\{{file.originalFilename || file.name}}</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<div class="six-columns">
					<h5 class="green underline">Historique des tickets</h5>

					<div class="table-header silver-gradient glossy button-height">
						<div class="float-right">
							{{t 'Search'}} <input type="text" data-ng-model="filterOptionsTicket.filterText" class="input small mid-margin-left">
						</div>
					</div>
					<!--<div class="gridStyle"  data-ng-grid="gridOptionsTicket"></div>-->
					<div class="table-footer silver-gradient">
						\{{countTicket}} ligne(s)
					</div>
				</div>

				<div class="six-columns">
					<h5 class="green underline">Demandes d'achats</h5>

					<div class="table-header silver-gradient glossy button-height">
						<div class="float-right">
							{{t 'Search'}} <input type="text" data-ng-model="filterOptionsBuy.filterText" class="input small mid-margin-left">
						</div>
						\{{searchBuy}}
					</div>
					<!--<div class="gridStyle"  data-ng-grid="gridOptionsBuyer"></div>-->
					<div class="table-footer silver-gradient">
						<div class="float-right strong">
							Total HT payé : \{{TotalBuy | euro}}  
						</div>
						\{{countBuy}} ligne(s)
					</div>
				</div>

			</div>
		</div>
	</div>
</section>