<section data-ng-controller="SocieteController">
    <div data-ng-init="findOne()">
        <hgroup id="main-title" class="thin">
            <h1>\{{societe.name}}</h1>
            <!--<span class="valign-top tag glossy" data-ng-class="societe.status.css">\{{societe.status.name}}</span>-->
        </hgroup>
        <div class="with-padding" data-ng-init="init()">
            <div class="columns">
                <div class="four-columns twelve-columns-mobile">
                    <div class="boxed">
                        <p class="icon-info green underline">{{t 'companies:ThirdPartyInfos'}}</p>

                        <table class="info-table">
                            <tbody>
                                <tr>
                                    <th width="40%" scope="row">{{t 'companies:ThirdPartyName'}}</th>
                                    <td><a href="#" class="blue h4" editable-text="societe.name" buttons="no" onaftersave="update()">
                                            \{{ societe.name || '{{t 'main:Undefined'}}' }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'companies:SocGroup'}}</th>
                                    <td><a href="#" class="anthracite h5 thin" editable-text="societe.caFamily" e-typeahead="ca as ca for ca in AutoComplete($viewValue,'api/societe/autocomplete/caFamily',10)" buttons="no" onaftersave="update()">
                                            \{{ societe.caFamily || '{{t 'main:Undefined'}}' }}
                                        </a></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'companies:ThirdPartyCode'}}</th>
                                    <td><a href="#" editable-text="societe.code_client" buttons="no" onbeforesave="checkCodeClient($data)" onaftersave="update()">
                                            \{{ societe.code_client || '{{t 'main:Undefined'}}' }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'main:Entity'}}</th>
                                    <td><span class="tag anthracite-gradient glossy" editable-select="societe.entity" buttons="no" e-form="EntityBtnForm" onaftersave="update()" e-ng-options="e.id as e.name for e in entities">
                                            \{{societe.entity}}</span> <span class="icon-pencil grey" ng-click="EntityBtnForm.$show()" ng-hide="EntityBtnForm.$visible || !global.user.rights.societe.entity"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'companies:ProspectStatus'}}</th>
                                    <td><span class="tag small glossy" data-ng-class="societe.status.css" editable-select="societe.Status" buttons="no" e-form="StatusBtnForm" onaftersave="update()" e-ng-options="s.id as s.label for s in dict.fk_stcomm.values">
                                            \{{societe.status.name}}</span> <span class="icon-pencil grey" ng-click="StatusBtnForm.$show()" ng-hide="StatusBtnForm.$visible"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'companies:SupplierStatus'}}</th>
                                    <td><a href="#" editable-select="societe.fournisseur" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_fournisseur.values" onaftersave="update()">
                                            \{{ showStatus('fournisseur', 'fk_fournisseur')}}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'companies:Address'}}</th>
                                    <td>
                                        <form editable-form name="editableFormAddress" onaftersave="update()">
                                            <span editable-textarea="societe.address" e-name="address" e-rows="4" e-cols="20" e-required><pre class="no-padding">\{{ societe.address || '{{t 'main:Undefined'}}' }}</pre></span>

                                            <span editable-text="societe.zip" e-name="zip" e-placeholder="{{t 'companies:Zip'}}" e-title="{{t 'companies:Zip'}}">\{{societe.zip}}</span> <span editable-text="societe.town" e-name="town" e-placeholder="{{t 'companies:Town'}}" e-title="{{t 'companies:Town'}}">\{{societe.town}}</span>
                                            \{{societe.country}}
                                            <!-- button to show form -->
                                            <span type="button" class="icon-pencil grey" ng-click="editableFormAddress.$show()" ng-show="!editableFormAddress.$visible"></span>


                                            <div class="small-margin-top button-group" ng-show="editableFormAddress.$visible">
                                                <button type="submit" class="button icon-tick blue-gradient" title="{{t 'main:Save'}}" ng-disabled="editableFormAddress.$waiting"></button>

                                                <button type="button" class="button icon-cross-round white-gradient" ng-disabled="editableFormAddress.$waiting" title="{{t 'Cancel'}}" ng-click="editableFormAddress.$cancel()"></button>
                                            </div>

                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'companies:Phone'}}</th>
                                    <td ><span editable-tel="societe.phone" e-title="+xxxxxxxxxxx" buttons="no" e-form="phoneBtnForm" onaftersave="update()">\{{ societe.phone || '{{t 'main:Undefined'}}' | phone}}</span> <span class="icon-pencil grey" ng-click="phoneBtnForm.$show()" ng-hide="phoneBtnForm.$visible"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'companies:Fax'}}</th>
                                    <td><span editable-tel="societe.fax" e-title="+xxxxxxxxxxx" buttons="no" e-form="faxBtnForm" onaftersave="update()">\{{ societe.fax || '{{t 'main:Undefined'}}' }}</span> <span class="icon-pencil grey" ng-click="faxBtnForm.$show()" ng-hide="faxBtnForm.$visible"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'EMail'}}</th> 
                                    <td><a data-ng-href="mailto:\{{societe.email}}" target="_blank" editable-email="societe.email" buttons="no" e-form="eMailBtnForm" onaftersave="update()">\{{ societe.email || '{{t 'main:Undefined'}}' }}</a>
                                        <span class="icon-pencil grey" ng-click="eMailBtnForm.$show()" ng-hide="eMailBtnForm.$visible"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'Web'}}</th>
                                    <td><a data-ng-href="\{{societe.url}}" target="_blank" editable-url="societe.url" e-title="http://www.mysite.com" buttons="no" e-form="urlBtnForm" onaftersave="update()">\{{ societe.url || '{{t 'main:Undefined'}}' }}</a>
                                        <span class="icon-pencil grey" ng-click="urlBtnForm.$show()" ng-hide="urlBtnForm.$visible"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{{t 'DateLastModification'}}</th>
                                    <td class="blue">\{{ societe.updatedAt | date:'{{t 'main:date.format.java.dayhour'}}' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h5 class="green underline">Les dernieres notes</h5>

                    <div class="scroll" style="height:120px">
                        <div data-ng-repeat="vnote in societe.notes| orderBy:'-datec' | limitTo:3" class="large-box-shadow white-gradient with-border margin-bottom">
                            <div class="with-small-padding silver-gradient no-margin-top">
                                <span class="icon-speech"><b>\{{vnote.author.name}}</b> <i>\{{ vnote.datec | date:'{{t 'main:date.format.java.dayhour'}}' }}</i></span>
                                <div class="float-right" title="{{t 'ticket:TimeCreate'}}" data-ng-init='timeComment = countDown(vnote.datec, false)'><span data-ng-show="timeComment.days > 0">\{{timeComment.days}}j</span><span data-ng-hide="timeComment.days > 0">{{t 'main:Today'}}</span></div>
                            </div>
                            <span class="with-small-padding" data-ng-if="vnote.note" ng-bind-html="vnote.note"></span>
                        </div>
                    </div>
                </div>

                <div class="eight-columns small-margin-bottom">
                    <div class="float-right button-height">					
                        <a class="button" ng-href="#!/societes" title="Retour à la liste">
                            {{t 'main:List'}}
                            <span class="button-icon right-side"><span class="icon-list"></span></span>
                        </a>
                        <button class="button" ng-disabled="!global.user.rights.societe.delete" confirmed-click="remove(societe)" ng-confirm-click="Supprimer la société ?" title="Supprimer la société">
                            {{t 'main:Delete'}}
                            <span class="button-icon right-side red-bg"><span class="icon-trash"></span></span>
                        </button>
                    </div>
                </div>

                <div class="eight-columns">

                    <tabset>
                        <!--<tab>
                                <tab-heading>
                                        <span class="icon-info">Infos société</span>
                                </tab-heading>
                                <div class="boxed relative large-box-shadow">

                                        <div class="columns">
                                                <div class="six-columns">
                                                        <table class="simple-table">
                                                                <tbody>
                                                                        <tr>
                                                                                <th width="40%" scope="row">{{t 'companies:ThirdPartyName'}}</th>
                                                                                <td>
                                                                                </td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:ThirdPartyCode'}}</th>
                                                                                <td>\{{societe.code_client}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:ProspectCustomer'}}</th>
                                                                                <td><span class="tag small glossy"data-ng-class="societe.status.css">\{{societe.status.name}}</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:Supplier'}}</th>
                                                                                <td>\{{societe.fournisseur}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:Address'}}</th>
                                                                                <td>\{{societe.address}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:Zip'}}</th>
                                                                                <td>\{{societe.zip}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:Town'}}</th>
                                                                                <td>\{{societe.town}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:Country'}}</th>
                                                                                <td>\{{societe.country}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:Phone'}}</th>
                                                                                <td >\{{societe.phone}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'companies:Fax'}}</th>
                                                                                <td>\{{societe.fax}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'EMail'}}</th>
                                                                                <td>\{{societe.email}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'Web'}}</th>
                                                                                <td>\{{societe.url}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <th scope="row">{{t 'DateLastModification'}}</th>
                                                                                <td class="blue">\{{societe.updatedAt |date:'dd/MM/yyyy HH:mm'}}</td>
                                                                        </tr> 
                                                                        <tr>
                                                                                <th scope="row">{{t 'Entity'}}</th>
                                                                                <td>\{{societe.entity}}</td>
                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                </div>
                        </tab>-->

                        <tab>
                            <tab-heading>
                                <span class="icon-cart">{{t 'companies:ProspectCustomer'}}</span>
                            </tab-heading>
                            <div class="boxed relative large-box-shadow">
                                <div class="columns">
                                    <div class="six-columns">
                                        <table class="simple-table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">{{t 'companies:ProspectLevelShort'}}</th>
                                                    <td><span class="tag small glossy" data-ng-class="societe.prospectLevel.css" editable-select="societe.prospectlevel" buttons="no" e-form="prospectlevelBtnForm" onaftersave="update()" e-ng-options="s.id as s.label for s in dict.fk_prospectlevel.values">
                                                            \{{societe.prospectLevel.name}}</span> <span class="icon-pencil grey" ng-click="prospectlevelBtnForm.$show()" ng-hide="prospectlevelBtnForm.$visible"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'commercial:Commercial'}}</th>
                                                    <td ><span class="icon-user"> </span><span editable-text="societe.commercial_id" buttons="no" e-form="CommercialIdBtnForm" e-typeahead="user as user.name for user in userAutoComplete($viewValue) | filter:{name:$viewValue}" onaftersave="update()">
                                                            \{{societe.commercial_id.name}}
                                                        </span> <span class="icon-pencil grey" ng-click="CommercialIdBtnForm.$show()" ng-hide="CommercialIdBtnForm.$visible || !(global.user.rights.societe.commercial || global.user.admin)"></span></td>
                                                </tr>
                                                <!--<tr>
                                                        <th scope="row">{{t 'zonegeo'}}</th>
                                                        <td><a href="#" editable-text="societe.zonegeo" buttons="no" onaftersave="update()">
                                                                        \{{societe.zonegeo|| "Non défini"}}
                                                                </a></td>
                                                </tr>-->
                                                <!--<tr>
                                                    <th scope="row">{{t 'companies:ThirdPartyType'}}</th>
                                                    <td><a href="#" editable-select="societe.typent_id" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_typent.values" onaftersave="update()">
                                                            \{{ showStatus('typent_id', 'fk_typent')}}
                                                        </a>
                                                    </td>
                                                </tr>-->
                                                <tr>
                                                    <th scope="row">{{t 'companies:Staff'}}</th>
                                                    <td><a href="#" editable-select="societe.effectif_id" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_effectif.values" onaftersave="update()">
                                                            \{{ showStatus('effectif_id', 'fk_effectif')}}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'companies:JuridicalStatus'}}</th>
                                                    <td>
                                                        <a href="#" editable-select="societe.forme_juridique_code" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_forme_juridique.values" onaftersave="update()">
                                                            \{{ showStatus('forme_juridique_code', 'fk_forme_juridique') || "-"}}
                                                        </a></td>
                                                </tr>
                                                <!--<tr>
                                                    <th scope="row">{{t 'companies:Capital'}}</th>
                                                    <td><a href="#" editable-text="societe.capital" buttons="no" onaftersave="update()">
                                                            \{{ societe.capital || '{{t 'main:Undefined'}}' | euro}}
                                                        </a></td>
                                                </tr>-->
                                                <tr>
                                                    <th scope="row">{{t 'companies:ProfId1FR'}}</th>
                                                    <td><a href="#" editable-text="societe.idprof1" buttons="no" onaftersave="update()">
                                                            \{{ societe.idprof1 || '{{t 'main:Undefined'}}' }}
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'companies:ProfId2FR'}}</th>
                                                    <td><a href="#" editable-text="societe.idprof2" buttons="no" onaftersave="update()">
                                                            \{{ societe.idprof2 || '{{t 'main:Undefined'}}' }}
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'companies:ProfId3FR'}}</th>
                                                    <td><a href="#" editable-text="societe.idprof3" buttons="no" onaftersave="update()">
                                                            \{{ societe.idprof3 ||'{{t 'main:Undefined'}}' }}
                                                        </a></td>
                                                </tr>
                                                <!--<tr>
                                                        <th scope="row">{{t 'companies:ProfId4FR'}}</th>
                                                        <td><a href="#" editable-text="societe.idprof4" buttons="no" onaftersave="update()">
                                                                        \{{societe.idprof4 || "Aucun"}}
                                                                </a></td>
                                                </tr>-->
                                                <!--<tr>
                                                        <th scope="row">{{t 'companies:ProfId5FR'}}</th>
                                                        <td><a href="#" editable-text="societe.idprof5" buttons="no" onaftersave="update()">
                                                                        \{{societe.idprof5|| "Non défini"}}
                                                                </a></td>
                                                </tr>-->
                                                <tr>
                                                    <th scope="row">{{t 'companies:CustomerSegmentation'}}</th>
                                                    <td><a href="#" editable-select="societe.segmentation" buttons="no" e-ng-options="s as s.label group by s.group for s in dict.fk_segmentation.values track by s.id" onaftersave="update()">
                                                            \{{ societe.segmentation.label || '{{t 'main:Undefined'}}' }} <small ng-if="societe.segmentation.group">(\{{societe.segmentation.group}})</small>
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" colspan="2">{{t 'companies:ProductSegmentation'}}<br/>
                                            <tags-input ng-model="societe.familyProduct" placeholder="{{t 'Add'}}" on-tag-added='update()' on-tag-removed="update()">
                                                <auto-complete source="AutoComplete($query,'api/product/family/autocomplete',10)" min-length="1" max-results-to-show="10"></auto-complete>
                                            </tags-input>
                                            </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">{{t 'companies:Rival'}}</th>
                                                <td><a href="#" editable-select="societe.rival" buttons="no" e-ng-options="s.label as s.label for s in dict.fk_rival.values" onaftersave="update()">
                                                        \{{ societe.rival || '{{t 'main:Undefined'}}' }}
                                                    </a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">{{t 'main:Keywords'}}<br/>
                                            <tags-input data-ng-model="societe.Tag" placeholder="{{t 'Add'}}" on-tag-added='update()' on-tag-removed="update()">
                                                <auto-complete source="AutoComplete($query,'api/societe/autocomplete/Tag',10)" min-length="1" max-results-to-show="10"></auto-complete>
                                            </tags-input>
                                            </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </tab>
                        <tab disabled="societe.fournisseur=='NO'">
                            <tab-heading>
                                <span class="icon-box">{{t 'suppliers:Supplier'}}</span>
                            </tab-heading>
                            <div class="boxed relative large-box-shadow">
                                <div class="columns">
                                    <div class="six-columns">
                                        <table class="simple-table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">{{t 'Categories'}}</th>
                                                    <td>\{{societe.Tag}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <span class="icon-tools">{{t 'bills:Billing'}}</span>
                            </tab-heading>
                            <div class="boxed relative large-box-shadow">
                                <div class="columns">
                                    <div class="six-columns">
                                        <table class="simple-table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">{{t 'compta:CustomerAccountancyCode'}}</th>
                                                    <td><a href="#" editable-text="societe.code_compta" buttons="no" onaftersave="update()">
                                                            \{{ societe.code_compta || '{{t 'main:Undefined'}}' }}
                                                        </a></td>
                                                </tr>
                                                <tr ng-hide="societe.fournisseur == 'NO'">
                                                    <th scope="row">{{t 'compta:SupplierAccountancyCode'}}</th>
                                                    <td><a href="#" editable-text="societe.code_compta_fournisseur" buttons="no" onaftersave="update()">
                                                            \{{ societe.code_compta_fournisseur || '{{t 'main:Undefined'}}' }}
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'companies:VATIsUsed'}}</th>
                                                    <td ><input type="checkbox" data-ng-model="societe.VATIsUsed" data-ng-checked="societe.VATIsUsed" data-ng-change="update()" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'companies:VATIntra'}}</th>
                                                    <td><a href="#" editable-text="societe.idprof6" buttons="no" onaftersave="update()">
                                                            \{{ societe.idprof6 || '{{t 'main:Undefined'}}' }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'bills:PaymentConditions'}}</th>
                                                    <td>
                                                        <a href="#" editable-select="societe.cond_reglement" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_payment_term.values" onaftersave="update()">
                                                            \{{ showStatus('cond_reglement', 'fk_payment_term')}}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'bills:PaymentMode'}}</th>
                                                    <td>
                                                        <a href="#" editable-select="societe.mode_reglement" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_paiement.values" onaftersave="update()">
                                                            \{{ showStatus('mode_reglement', 'fk_paiement')}}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'bills:PaymentBank'}}</th>
                                                    <td>
                                                        <a href="#" editable-select="societe.bank_reglement" buttons="no" e-ng-options="s.ref as s.ref for s in banks" onaftersave="update()">
                                                            \{{societe.bank_reglement|| '{{t 'main:Undefined'}}' }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'products:PriceLevel'}}</th>
                                                    <td>
                                                        <a href="#" editable-text="societe.price_level" e-typeahead="price_level.name for price_level in priceLevelAutoComplete($viewValue, 'name') | filter:{name:$viewValue}" buttons="no" onaftersave="update()">
                                                            \{{ societe.price_level || '{{t 'main:Undefined'}}' }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'companies:CustomerRelativeDiscountShort'}}</th>
                                                    <td>\{{societe.remise_client}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'bank:IBAN'}}</th>
                                                    <td>\{{societe.iban.id}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'bank:BIC'}}</th>
                                                    <td>\{{societe.iban.swift}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{t 'companies:ThirdPartyBilling'}}</th>
                                                    <td><a href="#" editable-text="societe.cptBilling" e-typeahead="societe as societe.name for societe in societeAutoComplete($viewValue, 'name') | filter:{name:$viewValue}" buttons="no" onaftersave="update()">
                                                            \{{societe.cptBilling.name|| "Lui-même"}}
                                                        </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="six-columns">
                                        <table class="info-table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Relevé de factures</th>
                                                    <td><ul class="files-icons mini">	
                                                            <li style="height: inherit"><a data-ng-href="api/bill/releveFacture/pdf/\{{societe._id}}" target="_blank" class="file-link">
                                                                    <span class="icon file-pdf"></span>
                                                                    releve_facture_\{{societe.name}}.pdf
                                                                </a></li>
                                                        </ul></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <span class="icon-tick">Checklist<span ng-show='checklist' class="count right">\{{checklist}}</span></span>
                            </tab-heading>
                            <div class="boxed relative large-box-shadow">
                                <div class="columns">
                                    <div class="six-columns">
                                        <table class="simple-table">
                                            <tbody>
                                                <tr>
                                                    <th width="90%" scope="row">Extrait KBIS (moins de 3 mois)</th>
                                                    <td><input type="checkbox" data-ng-model="societe.checklist.KBIS" data-ng-checked="societe.checklist.KBIS" data-ng-change="update()" />
                                                    </td>
                                                </tr>
                                                <tr ng-show="societe.fournisseur == 'SUBCONTRACTOR'">
                                                    <th scope="row">Licences nationale et communautaire</th>
                                                    <td><input type="checkbox" data-ng-model="societe.checklist.licencesNationaleCommunautaire" data-ng-checked="societe.checklist.licencesNationaleCommunautaire" data-ng-change="update()" />
                                                    </td>
                                                </tr>
                                                <tr ng-show="societe.fournisseur == 'SUBCONTRACTOR'">
                                                    <th scope="row">Attestation de régularité fiscale</th>
                                                    <td><input type="checkbox" data-ng-model="societe.checklist.attestationRegulFiscale" data-ng-checked="societe.checklist.attestationRegulFiscale" data-ng-change="update()" />
                                                    </td>
                                                </tr>
                                                <tr ng-show="societe.fournisseur == 'SUBCONTRACTOR'">
                                                    <th scope="row">Attestation URSAFF</th>
                                                    <td><input type="checkbox" data-ng-model="societe.checklist.attetationUrsaff" data-ng-checked="societe.checklist.attetationUrsaff" data-ng-change="update()" />
                                                    </td>
                                                </tr>
                                                <tr ng-show="societe.fournisseur == 'SUBCONTRACTOR'">
                                                    <th scope="row">Attestation d'assurance à jour - Responsabilité Civile et Marchandise Transportée</th>
                                                    <td><input type="checkbox" data-ng-model="societe.checklist.attestationAssurance" data-ng-checked="societe.checklist.attestationAssurance" data-ng-change="update()" />
                                                    </td>
                                                </tr>
                                                <tr ng-show="societe.fournisseur == 'SUBCONTRACTOR'">
                                                    <th scope="row">Attestation sur l'honneur</th>
                                                    <td><input type="checkbox" data-ng-model="societe.checklist.attestationHonneur" data-ng-checked="societe.checklist.attestationHonneur" data-ng-change="update()" />
                                                    </td>
                                                </tr>
                                                <tr ng-show="societe.fournisseur == 'SUBCONTRACTOR'">
                                                    <th scope="row">Copie Permis de conduire et Déclaration Unique d'Embauche (DUE)</th>
                                                    <td><input type="checkbox" data-ng-model="societe.checklist.permisConduireDUE" data-ng-checked="societe.checklist.permisConduireDUE" data-ng-change="update()" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <span class="icon-folder">Fichiers<span ng-if='societe.files.length' class="count green-bg right">\{{societe.files.length}}</span></span>
                            </tab-heading>
                            <div class="boxed relative large-box-shadow">

                                <div class="panel-content linen">

                                    <div class="panel-control align-right">
                                        <div class="float-right">
                                            <div class="button-group">
                                                <progressbar style="width:100px;" class="progress-striped" value="35" type="success">35%</progressbar>
                                            </div>
                                            <div class="button-group">
                                                <div class="button-height">
                                                    <input type="file" ng-model="myFiles" ng-file-select="onFileSelect($files)" multiple class="file">
                                                    <!--<a href="#" class="button icon-cloud-upload margin-left">Add file...</a>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="panel-content" class="panel-load-target" style="height:500px">
                                        <div class="with-padding">
                                            <p ng-file-drop="onFileSelect($files)" class="message icon-info-round white-gradient drop-box dark-stripes animated" ng-show="dropSupported">drop files here</p>
                                            <p ng-file-drop-available="dropSupported=true" class="message icon-info-round white-gradient" ng-show="!dropSupported">HTML5 Drop File is not supported!</p>

                                            <ul class="files-icons on-dark" data-ng-init="getFileTypes()">
                                                <!--<li>
                                                        <a href="#" class="file-link">
                                                                <span class="icon folder-net"></span>
                                                                Dossier public
                                                        </a>
                                                </li>-->
                                                <li data-ng-repeat="file in societe.files">
                                                    <span class="icon" data-ng-class="fileType(file.name)"></span>
                                                    <div class="controls">
                                                        <span class="button-group compact children-tooltip">
                                                            <a data-ng-href="api/societe/file/\{{societe._id}}/\{{file.name}}" target="_blank" class="button icon-eye" title="Ouvrir"></a>
                                                            <a data-ng-href="api/societe/file/\{{societe._id}}/\{{file.name}}?download=1" class="button icon-download" title="Télécharger"></a>
                                                            <button data-ng-click="suppressFile(societe._id, file.name, $index)" class="button icon-trash" title="Supprimer"></button>
                                                        </span>
                                                    </div>
                                                    <a data-ng-href="api/societe/file/\{{societe._id}}/\{{file.name}}" target="_blank">\{{file.originalFilename|| file.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <span class="icon-pencil">Notes<span ng-if='societe.notes.length' class="count orange-bg right">\{{societe.notes.length}}</span></span>
                            </tab-heading>
                            <div class="boxed relative large-box-shadow">

                                <div class="columns">
                                    <div class="six-columns">
                                        <div class="button-height block-label margin-bottom">
                                            <h5 for="note" class="underline green">
                                                Ajouter une note
                                            </h5>
                                            <textarea id="note" cols="30" rows="5" data-ng-model="note" class="input full-width"></textarea>

                                            <div class="margin-top button-height float-right">
                                                <button type="button" data-ng-click="addNote()" class="button icon-plus blue-gradient">{{t 'main:Add'}}</button>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="six-columns">
                                        <div class="scroll" style="height:360px">
                                            <div data-ng-repeat="vnote in societe.notes| orderBy:'-datec'" class="large-box-shadow white-gradient with-border margin-bottom">
                                                <div class="with-small-padding silver-gradient no-margin-top">
                                                    <span class="icon-speech"><b>\{{vnote.author.name}}</b> <i>\{{ vnote.datec | date:'{{t 'main:date.format.java.dayhour'}}' }}</i></span>
                                                    <div class="float-right" title="{{t 'ticket:TimeCreate'}}" data-ng-init='timeComment = countDown(vnote.datec, false)'><span data-ng-show="timeComment.days > 0">\{{timeComment.days}}j</span><span data-ng-hide="timeComment.days > 0">{{t 'main:Today'}}</span> <span ng-if="global.user.rights.societe.delete" title="Supprimer note" class="icon icon-trash" ng-confirm-click="Supprimer la note ?" confirmed-click="removeNote(vnote)" ></span></div>
                                                </div>
                                                <span class="with-small-padding" data-ng-if="vnote.note" ng-bind-html="vnote.note"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </tab>
                    </tabset>
                </div>

                <div class="twelve-columns">
                    <h5 class="green underline">Comptes Rendus</h5>

                    <div class="table-header silver-gradient glossy button-height">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="button-group">
                                    <button class="button icon-plus blue-gradient" data-ng-click="addNewReport()">{{t 'main:Add'}}</button>
                                    <button title="{{t 'Refresh'}}" class="button" data-ng-click="refreshReport()"><span class="icon-redo"></span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="gridStyle"  data-ng-grid="gridOptionsReports"></div>
                    <div class="table-footer silver-gradient">
                        \{{countReports}} ligne(s)
                    </div>
                </div>

                <div class="twelve-columns">
                    <h5 class="green underline">{{t 'companies:ListOfContacts'}}</h5>

                    <div class="table-header silver-gradient glossy button-height">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="button-group">
                                    <button class="button icon-plus blue-gradient" data-ng-click="addNewContact()">{{t 'main:Add'}}</button>
                                    <button title="{{t 'Refresh'}}" class="button" data-ng-click="findOne()"><span class="icon-redo"></span></button>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="float-right">
                                    {{t 'main:Search'}} <input type="text" data-ng-model="filterOptionsContact.filterText" class="input small mid-margin-left">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gridStyle"  data-ng-grid="gridOptionsContact"></div>
                    <div class="table-footer silver-gradient">
                        \{{countContact}} ligne(s)
                    </div>
                </div>
                <div class="twelve-columns">
                    <h5 class="green underline">{{t 'leads:Leads'}}</h5>

                    <div class="table-header silver-gradient glossy button-height">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="button-group">
                                    <button class="button icon-plus blue-gradient" data-ng-click="addNewLead()">{{t 'main:Add'}}</button>
                                    <button title="{{t 'Refresh'}}" class="button" data-ng-click="refreshLead()"><span class="icon-redo"></span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="gridStyle"  data-ng-grid="gridOptionsLeads"></div>
                    <div class="table-footer silver-gradient">
                        \{{countLeads}} ligne(s)
                    </div>
                </div>

                <div class="twelve-columns" ng-show="global.user.rights.ticket.read">
                    <h5 class="green underline">Historique des tickets</h5>

                    <div class="table-header silver-gradient glossy button-height">
                        <div class="float-right">
                            {{t 'main:Search'}} <input type="text" data-ng-model="filterOptionsTicket.filterText" class="input small mid-margin-left">
                        </div>
                    </div>
                    <div class="gridStyle"  data-ng-grid="gridOptionsTicket"></div>
                    <div class="table-footer silver-gradient">
                        \{{countTicket}} ligne(s)
                    </div>
                </div>

                <div class="twelve-columns" ng-show="global.user.rights.bill.read">
                    <h5 class="green underline">{{t 'bills:List'}}</h5>

                    <div class="table-header silver-gradient glossy button-height">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="button-group">
                                    <button class="button icon-credit-card blue-gradient" data-ng-click="paymentBills()">Emettre paiement</button>
                                    <button title="{{t 'Refresh'}}" class="button" data-ng-click="findOne()"><span class="icon-redo"></span></button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="float-right">
                                    {{t 'Search'}} <input type="text" data-ng-model="filterOptionsBills.filterText" class="input small mid-margin-left">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gridStyle"  data-ng-grid="gridOptionsBills"></div>
                    <div class="table-footer silver-gradient">
                        \{{countBills}} ligne(s)
                    </div>
                </div>

                <div class="twelve-columns">
                    <h5 class="green underline">Demandes d'achats</h5>

                    <div class="table-header silver-gradient glossy button-height">
                        <div class="float-right">
                            {{t 'main:Search'}} <input type="text" data-ng-model="filterOptionsBuy.filterText" class="input small mid-margin-left">
                        </div>
                        \{{searchBuy}}
                    </div>
                    <div class="gridStyle"  data-ng-grid="gridOptionsBuyer"></div>
                    <div class="table-footer silver-gradient">
                        <div class="float-right strong">
                            Total HT payé : \{{TotalBuy| euro}}  
                        </div>
                        \{{countBuy}} ligne(s)
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>