<section data-ng-controller="SocieteListController" class="scroll" style="height:500px" ng-style="style(0)" resize>
	<hgroup id="main-title" class="thin">
		<h1>Liste des sociétés</h1>
	</hgroup>
	
	<div class="dashboard">
	    <div class="columns">
	        <div class="four-columns twelve-columns-mobile graph">
				<highchart id="pieChart" config="pieChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
	        </div>

	        <div class="eight-columns twelve-columns-mobile new-row-mobile graph">
				<highchart id="pieChart" config="pieChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
	        </div>
	    </div>
	</div>

	<div class="with-padding" data-ng-init="find()">

		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
				<div class="col-sm-4">
					<button class="button icon-plus blue-gradient">{{t 'Add'}}</button>
				</div>
				<div class="col-sm-4">
					{{t 'Type'}} <select ng-model="type" ng-options="c as c.name for c in types track by c.id" data-ng-change="find()" class=""></select>
				</div>
				<div class="col-sm-4">
					<div class="float-right">
						{{t 'Search'}} <input type="text" data-ng-model="filterOptionsSociete.filterText" class="input small mid-margin-left">
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptionsSociete"></div>
		<div class="table-footer silver-gradient">
			\{{countSocietes}} ligne(s)
		</div>

	</div>
</section>