<section data-ng-controller="SocieteController">
	<hgroup id="main-title" class="thin">
		<h1>Liste des sociétés</h1>
	</hgroup>

	<div class="dashboard" data-ng-init="initCharts()">
		<div class="columns">
			<div class="four-columns twelve-columns-mobile graph">
				<highchart id="pieChart" config="pieChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
			</div>

			<div class="eight-columns twelve-columns-mobile new-row-mobile graph">
				<highchart id="barChart" config="barChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
			</div>
		</div>
	</div>

	<div class="with-padding" data-ng-init="find()">

		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
				<div class="col-sm-4">
					<div class="button-group">
						<button class="button icon-plus blue-gradient" data-ng-click="addNew()">{{t 'Add'}}</button>
						<button title="{{t 'Refresh'}}" class="button" data-ng-click="find()"><span class="icon-redo"></span></button>
					</div>

				</div>
				<div class="col-sm-4">
					{{t
							'Type'}} <select ng-model="type" ng-options="c as c.name for c in types track by c.id" data-ng-change="find()" class=""></select>
				</div>
				<div class="col-sm-4">
					<div class="float-right">
						{{t 'Search'}} <input type="text" data-ng-model="filterOptionsSociete.filterText" class="input small mid-margin-left">
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptionsSociete" ng-style="style(100)" resize></div>
		<div class="table-footer silver-gradient button-height">
			<div class="float-right">
				<div class="button-group">
					<button ng-click="pagingSocieteFirst()" title="First page" class="button silver-gradient glossy"><span class="icon-previous"></span></button>
					<button ng-click="pagingSociete(-1);" title="Previous page" class="button silver-gradient glossy"><span class="icon-backward"></span></button>
				</div>

				<div class="button-group">
					<button data-ng-click="setPagingSociete(n)" ng-repeat="n in [minPageSociete, maxPageSociete]| makeRange" ng-class="{active: n == pagingOptionsSociete.currentPage}" title="Page \{{n}}" class="button silver-gradient glossy">\{{n}}</button>
				</div>

				<div class="button-group">
					<button  ng-click="pagingSociete(1)" title="Next page" class="button silver-gradient glossy"><span class="icon-forward"></span></button>
					<button ng-click="pagingSocieteLast()" title="Last page" class="button silver-gradient glossy"><span class="icon-next"></span></button>
				</div>
			</div>
			\{{countSocietes}}/\{{totalCountSociete}} ligne(s)
		</div>

	</div>
</section>