<section data-ng-controller="SocieteController">
	<hgroup id="main-title" class="thin">
		<h1>Liste des sociétés</h1>
	</hgroup>

	<div class="dashboard" data-ng-init="initCharts()">
		<div class="columns">
			<div class="four-columns twelve-columns-mobile graph">
				<highchart id="pieChart" config="pieChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
			</div>

			<div class="eight-columns twelve-columns-mobile new-row-mobile graph">
				<highchart id="barChart" config="barChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
			</div>
		</div>
	</div>

	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
		<h3 class="no-margin-bottom">{{t 'companies:NewThirdParty'}}</h3>
		</div>
		<div class="modal-body">

		<p class="button-height inline-medium-label">
		<label for="card">Numéro carte gazoil</label>
		<input id="card" data-ng-model="cardSelect" typeahead-on-select="refreshVehicule()" typeahead="card as card.id for card in cardAutoComplete($viewValue) | filter:{id:$viewValue}" class="input">
		</p>
		<p class="button-height inline-medium-label">
		<label for="vehicule">Véhicule</label>
		\{{paiement.vehicule.name}}
		</p>
		<p class="button-height inline-medium-label">
		<label for="datec">Date</label>
		<input kendo-date-picker id="datec" data-ng-model="datec" k-on-change="paiement.datec = kendoEvent.sender._value;" class="input">
		</p>
		<p class="button-height inline-medium-label">
		<label for="qty">Volume</label>
		<input type="number" min="0" step="any" id="qty" data-ng-model="paiement.qty" class="input">
		</p>
		<p class="button-height inline-medium-label">
		<label for="total_ht">Total HT</label>
		<input type="number" min="0" step="any" id="total_ht" data-ng-model="paiement.total_ht" class="input">
		</p>

		</div>
		<div class="modal-footer">
		<span class="button-group">
		<button class="button green-gradient icon-tick" ng-click="ok()"> OK</button>
		<button class="button orange-gradient icon-forbidden" ng-click="cancel()"> Cancel</button>
		</span>
		</div>
	</script>

	<div class="with-padding" data-ng-init="find()">

		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
				<div class="col-sm-4">
					<button class="button icon-plus blue-gradient" data-ng-click="addNew()">{{t 'Add'}}</button>
				</div>
				<div class="col-sm-4">
					{{t 'Type'}} <select ng-model="type" ng-options="c as c.name for c in types track by c.id" data-ng-change="find()" class=""></select>
				</div>
				<div class="col-sm-4">
					<div class="float-right">
						{{t 'Search'}} <input type="text" data-ng-model="filterOptionsSociete.filterText" class="input small mid-margin-left">
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptionsSociete" ng-style="style(100)" resize></div>
		<div class="table-footer silver-gradient">
			\{{countSocietes}} ligne(s)
		</div>

	</div>
</section>