<section data-ng-controller="IndexHomeController">
	<hgroup class="thin" id="main-title">
		<h1>{{t 'Dashboard'}}</h1>
		<h2>\{{dateNow| date:'MMM'}} <strong>\{{dateNow| date:'dd'}}</strong></h2>
	</hgroup>

	<div ng-if="global.user.rights.box.dashboardGraph" class="dashboard">
		<div class="columns">
			<div class="nine-columns twelve-columns-mobile chart" data-ng-init="initCharts()">
				<highchart id="caChart" config="caChartConfig" style="min-width: 100px; height: 270px; margin: 0 auto;"></highchart>
			</div>

			<div class="three-columns twelve-columns-mobile new-row-mobile">
				<ul class="stats split-on-mobile">
					<li><a href="#"> <strong>-</strong> new <br>accounts
						</a></li>
					<li><a href="#"> <strong>-</strong> referred new <br>accounts
						</a></li>
					<li><strong>-</strong> new <br>items</li>
					<li><strong>-</strong> new <br>comments</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="with-padding">
		<div class='columns'>
			
			{{> 'box/absence'}}
			{{> 'box/result'}}
			{{> 'box/cost'}}
			{{> 'box/indicateur'}}
			{{> 'box/ca'}}
			{{> 'box/infologin'}}
			{{> 'box/report'}}
			{{> 'box/tasks'}}
		</div>
	</div>
</section>
