<form data-ng-init='init()' data-ng-submit='sendOrder()' class="no-margin-bottom block margin-bottom wizard same-height wizard-enabled" style="width: 800px;margin: 0 auto;">

	<!-- Block style is optional, you can use any layout -->
	<h3 class="block-title">{{t 'orders:NewOrder'}} <span class="blue">\{{order.ref}}</span></h3>

	<ul class="wizard-steps">
		<li data-ng-class="isActive(1)" data-ng-click='goto(1)'><span class="wizard-step">1</span> Références</li>
		<li data-ng-class="isActive(2)" data-ng-click='goto(2)'><span class="wizard-step">2</span> Produits/services</li>
		<li data-ng-class="isActive(3)" data-ng-click='goto(3)'><span class="wizard-step">3</span> Livraison</li>
		<li data-ng-class="isActive(4)" data-ng-click='goto(4)'><span class="wizard-step">4</span> Paiement</li>
	</ul>

	<!-- Each form step should be wrapped in a fieldset -->
	<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(1)'>

		<div class="field-block">
			<h4>{{t 'Hello'}}</h4>
			<p>Bienvenue sur la plateforme de commandes en ligne.</p>
		</div>

		<div class="field-block button-height">
			<label for="client"><b>{{t 'companies:Company'}}</b></label>
			<input required type="text" data-ng-model="order.client" typeahead-on-select="order.billing = order.client.address;" typeahead="societe as societe.name for societe in societeAutoComplete($viewValue, 'name') | filter:{name:$viewValue}" id="client" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height">
			<label for="contact"><b>Demandeur</b></label>
			<input type="text" required data-ng-model="order.contact.name" id="contact" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height">
			<label for="ref_client"><b>Référence / Nom de l'affaire</b></label>
			<input type="text" required data-ng-model="order.ref_client" id="ref_client" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height">
			<label for="phone"><b>{{t 'companies:Phone'}}</b></label>
			<input type="text" required data-ng-model="order.contact.phone" id="phone" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height">
			<label for="email"><b>{{t 'Email'}}</b></label>
			<input type="email" data-ng-model="order.contact.email" id="email" class="input" autocomplete="off">
		</div>

		<div class="field-block button-height">
			<label for="date_commande"><b>Date de commande</b></label>
			<input kendo-date-picker required id="date_commande" k-on-change="order.datec = kendoEvent.sender._value;" class="input"/>
		</div>

		<div class="field-block button-height">
			<label for="date_livraison"><b>Date de livraison</b></label>
			<input kendo-date-picker required id="date_livraison" k-on-change="order.date_livraison = kendoEvent.sender._value;" class="input"/>
		</div>

		<div class="field-block button-height wizard-controls clearfix">
			<button type="button" data-ng-disabled="!(order.datec && order.contact.phone && order.ref_client && order.contact.name && order.date_livraison && order.client.id)" data-ng-click='next(); create();' class="button glossy mid-margin-right wizard-next float-right">{{t 'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>
			<!--<button type="button" data-ng-click='next()' class="button glossy mid-margin-right wizard-next float-right">{{t 'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>-->
		</div>

	</fieldset>

	<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(2)'>

		<div class="field-block">
			<h4>Ajout des produits / services</h4>
			<p>Détails des prestations</p>
		</div>

		<div class="field-block clearfix">
			<label for="desgination"><b>Détails de la commande</b></label>
			<input type="hidden" data-ng-init="order.notes[0].title='Prestations'"/>
			<textarea id="desgination" required cols="30" rows="5" data-ng-model="order.notes[0].note" class="input full-width"></textarea>
		</div>

		<div class="field-block button-height wizard-controls clearfix">
			<button type="button"  data-ng-click='previous()' class="button glossy mid-margin-right wizard-prev float-left"><span class="button-icon anthracite-gradient"><span class="icon-backward"></span></span>{{t 'Previous'}}</button>
			<button type="button"  data-ng-click='next()' data-ng-disabled='!order.notes[0].note' class="button glossy mid-margin-right wizard-next float-right">{{t 'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>
		</div>

	</fieldset>

	<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(3)'>

		<div class="field-block">
			<h4>Livraison</h4>
			<p></p>
		</div>

		<div class="field-block button-height" data-ng-repeat="bl in order.bl">
			<label for="delivery"><b>Mode de livraison \{{$index + 1}}</b></label>
			<select class="form-control margin-bottom" id="delivery" required data-ng-model="bl.shipping" data-ng-options="c as c.label for c in shipping.values"></select>

			<label data-ng-show="bl.shipping.id && bl.shipping.address"><b>Adresse destinataire \{{$index + 1}}</b></label>
			<div data-ng-show="bl.shipping.id && bl.shipping.address" class='columns'>
				<div class='seven-columns'>
					<input type="hidden" data-ng-init="bl.label='Destinataire '+($index+1)"/> 
					<input type="text" data-ng-model="bl.name" class="input" placeholder="Nom"/><br/>
					<input type="text" data-ng-model="bl.contact" class="input" placeholder="Nom du contact"/><br/>
					<textarea class='input' rows='3' data-ng-model="bl.address" placeholder="Adresse"></textarea><br/>
					<input type="text" class="input" placeholder="Code postal" data-ng-model="bl.zip" size="8"/>
					<input type="text" class="input" data-ng-model="bl.town" placeholder="Ville"/>
				</div>
				<div class="five-columns">
					<!--<div class='margin-bottom'>
						<small class="input-info black">Nombre d'exemplaires papier</small>
						<input type="number" data-ng-model='bl.products[0].qty' data-ng-change="countExemplaires()" integer class="input small">
					</div>
					<div class='margin-bottom'>
						<small class="input-info black">Nombre d'exemplaires CD</small>
						<input type="number" data-ng-model='bl.products[1].qty' data-ng-change="countExemplaires()" integer class="input small">
					</div>-->
				</div>
			</div>
		</div>

		<div class="field-block button-height align-center clearfix">
			<button type="button" data-ng-click='addDest()' class="button blue-gradient glossy"><span class="icon-plus"></span> {{t 'Add'}} un autre destinataire</button>
		</div>

		<div class="field-block button-height wizard-controls clearfix">
			<button type="button" data-ng-click='previous()' class="button glossy mid-margin-right wizard-prev float-left"><span class="button-icon anthracite-gradient"><span class="icon-backward"></span></span>{{t 'Previous'}}</button>
			<button type="button" data-ng-disabled='!order.bl[0].shipping.id' data-ng-click='next()' class="button glossy mid-margin-right wizard-next float-right">{{t 'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>
		</div>

	</fieldset>

	<!--<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(3)'>

		<div class="field-block">
			<h4>Envoi des fichiers</h4>
			<p></p>
		</div>

		<div class="field-block button-height" data-ng-repeat='dossier in order.optional.dossiers' data-ng-init="initSelectFiles()">
			<label><b>Dossier \{{$index +1}}</b></label><br/>
			<fieldset class="fields-list">
				<div class="field-block button-height">
					<label for="numApp.\{{$index}}"><b>Num Appareil</b></label>
					<input type="text" data-ng-model='dossier.numApp' name="numApp" id="numApp.\{{$index}}" class="input">
				</div>

				<div class="field-block button-height">
					<label for="pvFeuPorte.\{{$index}}"><b>PV au feu des portes palières</b></label>
					<select data-ng-model="dossier.selectedFiles.PVFeuPortePaliere" data-ng-options="PV as (PV.filename) group by PV.directory for PV in selectFiles.PVFeuPortePaliere | orderBy:'filename' track by PV.filename" id="pvFeuPorte.\{{$index}}" class="form-control">
						<option value="">-- PV au feu des portes palières --</option>
					</select>

					<div class="row" ng-show="filePercentage['pvFeuPorte_Dossier'+($index+1)]">
						<div class="col-sm-8"><progressbar  class="progress-striped" value="filePercentage['pvFeuPorte_Dossier'+($index+1)]" type="success">\{{filePercentage['pvFeuPorte_Dossier'+($index+1)]}} %</progressbar></div>
						<div class="col-sm-4"><a class="icon-trash red" data-ng-click="suppressFile(order._id, fileName['pvFeuPorte_Dossier'+($index+1)], 'pvFeuPorte_Dossier'+($index+1))" title="{{t 'Delete'}}"></a></div>
					</div>
				</div>
				<div class="field-block button-height">
					<label for="pvFeuCab.\{{$index}}"><b>PV au feu parois cabine</b></label>
					<select data-ng-model="dossier.selectedFiles.PVFeuParoisCabine" data-ng-options="PV as (PV.filename) for PV in selectFiles.PVFeuParoisCabine | orderBy:'filename' track by PV.filename" id="pvFeuCab.\{{$index}}" class="form-control">
						<option value="">-- PV au feu parois cabine --</option>
					</select>

					<div class="row" ng-show="filePercentage['pvFeuCab_Dossier'+($index+1)]">
						<div class="col-sm-8"><progressbar class="progress-striped" value="filePercentage['pvFeuCab_Dossier'+($index+1)]" type="success">\{{filePercentage['pvFeuCab_Dossier'+($index+1)]}} %</progressbar></div>
						<div class="col-sm-4"><a class="icon-trash red" data-ng-click="suppressFile(order._id, fileName['pvFeuCab_Dossier'+($index+1)], 'pvFeuCab_Dossier'+($index+1))" title="{{t 'Delete'}}"></a></div>
					</div>
				</div>
				<div class="field-block button-height">
					<label for="pvFeuSol.\{{$index}}"><b>PV au feu sol cabine</b></label>
					<select data-ng-model="dossier.selectedFiles.PVFeuSolCabine" data-ng-options="PV as (PV.filename) for PV in selectFiles.PVFeuSolCabine | orderBy:'filename' track by PV.filename" id="assistante" class="form-control">
						<option value="">-- PV au feu sol cabine --</option>
					</select>

					<div class="row" ng-show="filePercentage['pvFeuSol_Dossier'+($index+1)]">
						<div class="col-sm-8"><progressbar class="progress-striped" value="filePercentage['pvFeuSol_Dossier'+($index+1)]" type="success">\{{filePercentage['pvFeuSol_Dossier'+($index+1)]}} %</progressbar></div>
						<div class="col-sm-4"><a class="icon-trash red" data-ng-click="suppressFile(order._id, fileName['pvFeuSol_Dossier'+($index+1)], 'pvFeuSol_Dossier'+($index+1))" title="{{t 'Delete'}}"></a></div>
					</div>
				</div>
				<div class="field-block button-height">
					<label for="plans.\{{$index}}"><b>Plans</b></label>
					<input type="file" data-ng-disabled="filePercentage['plans_Dossier'+($index+1)]" ng-model="dossier.plans" id='plans.\{{$index}}' ng-file-select="onFileSelect($files, ('plans_Dossier'+($index+1)))" class="file">
					<div class="row" ng-show="filePercentage['plans_Dossier'+($index+1)]">
						<div class="col-sm-8"><progressbar class="progress-striped" value="filePercentage['plans_Dossier'+($index+1)]" type="success">\{{filePercentage['plans_Dossier'+($index+1)]}} %</progressbar></div>
						<div class="col-sm-4"><a class="icon-trash red" data-ng-click="suppressFile(order._id, fileName['plans_Dossier'+($index+1)], 'plans_Dossier'+($index+1))" title="{{t 'Delete'}}"></a></div>
					</div>
				</div>
				<div class="field-block button-height">
					<label for="dic.\{{$index}}"><b>DIC</b></label>
					<a href="\\ofrgnf04.eu.otis.utc.com\03-Exterieur\Doc_N-4\45">\\ofrgnf04.eu.otis.utc.com\03-Exterieur\Doc_N-4\45</a>
					<input type="file" data-ng-disabled="filePercentage['dic_Dossier'+($index+1)]" ng-model="dossier.dic" id='pvFeuSol.\{{$index}}' ng-file-select="onFileSelect($files, ('dic_Dossier'+($index+1)))" class="file">
					<div class="row" ng-show="filePercentage['dic_Dossier'+($index+1)]">
						<div class="col-sm-8"><progressbar class="progress-striped" value="filePercentage['dic_Dossier'+($index+1)]" type="success">\{{filePercentage['dic_Dossier'+($index+1)]}} %</progressbar></div>
						<div class="col-sm-4"><a class="icon-trash red" data-ng-click="suppressFile(order._id, fileName['dic_Dossier'+($index+1)], 'dic_Dossier'+($index+1))" title="{{t 'Delete'}}"></a></div>
					</div>
				</div>
				<div class="field-block button-height">
					<label for="manuelInst.\{{$index}}"><b>Manuel d'instruction</b></label>
					<input type="file" data-ng-disabled="filePercentage['manuelInst_Dossier'+($index+1)]" ng-model="dossier.manuelInst" id='manuelInst.\{{$index}}' ng-file-select="onFileSelect($files, ('manuelInst_Dossier'+($index+1)))" class="file">
					<div class="row" ng-show="filePercentage['manuelInst_Dossier'+($index+1)]">
						<div class="col-sm-8"><progressbar class="progress-striped" value="filePercentage['manuelInst_Dossier'+($index+1)]" type="success">\{{filePercentage['manuelInst_Dossier'+($index+1)]}} %</progressbar></div>
						<div class="col-sm-4"><a class="icon-trash red" data-ng-click="suppressFile(order._id, fileName['manuelInst_Dossier'+($index+1)], 'manuelInst_Dossier'+($index+1))" title="{{t 'Delete'}}"></a></div>
					</div>
				</div>
				<div class="field-block button-height">
					<label for="annexManuelInst.\{{$index}}"><b>Annexes Manuel d'instruction</b></label>
					<input type="file" data-ng-disabled="filePercentage['annexManuelInst_Dossier'+($index+1)]" ng-model="dossier.annexManuelInst" id='annexManuelInst.\{{$index}}' ng-file-select="onFileSelect($files, ('annexManuelInst_Dossier'+($index+1)))" class="file">
					<div class="row" ng-show="filePercentage['annexManuelInst_Dossier'+($index+1)]">
						<div class="col-sm-8"><progressbar class="progress-striped" value="filePercentage['annexManuelInst_Dossier'+($index+1)]" type="success">\{{filePercentage['annexManuelInst_Dossier'+($index+1)]}} %</progressbar></div>
						<div class="col-sm-4"><a class="icon-trash red" data-ng-click="suppressFile(order._id, fileName['annexManuelInst_Dossier'+($index+1)], 'annexManuelInst_Dossier'+($index+1))" title="{{t 'Delete'}}"></a></div>
					</div>
				</div>
				<div class="field-block button-height">
					<label for="annexAutres.\{{$index}}"><b>Autres annexes</b></label>
					<input type="file" data-ng-disabled="filePercentage['annexAutres_Dossier'+($index+1)]" ng-model="dossier.annexAutres" id='annexAutres.\{{$index}}' ng-file-select="onFileSelect($files, ('annexAutres_Dossier'+($index+1)))" class="file">
					<div class="row" ng-show="filePercentage['annexAutres_Dossier'+($index+1)]">
						<div class="col-sm-8"><progressbar class="progress-striped" value="filePercentage['annexAutres_Dossier'+($index+1)]" type="success">\{{filePercentage['annexAutres_Dossier'+($index+1)]}} %</progressbar></div>
						<div class="col-sm-4"><a class="icon-trash red" data-ng-click="suppressFile(order._id, fileName['annexAutres_Dossier'+($index+1)], 'annexAutres_Dossier'+($index+1))" title="{{t 'Delete'}}"></a></div>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="field-block button-height align-center clearfix">
			<button type="button" data-ng-click='addDossier()' class="button blue-gradient glossy"><span class="icon-plus"></span> {{t 'Add'}} un autre dossier</button>
		</div>

		<div class="field-block button-height wizard-controls clearfix">
			<button type="button" data-ng-click='previous()' class="button glossy mid-margin-right wizard-prev float-left"><span class="button-icon anthracite-gradient"><span class="icon-backward"></span></span>{{t 'Previous'}}</button>
			<button type="button" data-ng-click='next()' class="button glossy mid-margin-right wizard-next float-right">{{t 'Next'}}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>
		</div>

	</fieldset>-->

	<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(4)'>

		<div class="field-block">
			<h4>Paiement</h4>
			<p></p>
		</div>

		<div class="field-block button-height">
			<label for="paiment"><b>Mode de paiement</b></label>
			<select class="form-control margin-bottom" id="paiment" required data-ng-model="order.billing.paiment" data-ng-options="p as p.label for p in billing.values"></select>

			<label data-ng-show="order.billing.paiment && order.billing.paiment.id != 'CPT'"><b>Facturation</b></label>
			<div data-ng-show="order.billing.paiment && order.billing.paiment.id != 'CPT'">
				<input type="radio" ng-model="order.billing.mode" value="TICKET" /> Recu <input type="radio" ng-model="order.billing.mode" value="BILL" /> Facture
			</div>
			<div data-ng-show="order.billing.paiment && order.billing.paiment.id != 'CPT' && order.billing.mode && order.billing.mode == 'BILL'" class='columns'>
				<div class='seven-columns'>
					<input type="text" data-ng-model="order.billing.name" class="input" placeholder="Nom"/><br/>
					<input type="text" data-ng-model="order.billing.contact" class="input" placeholder="Nom du contact"/><br/>
					<textarea class='input' rows='3' data-ng-model="order.billing.address" placeholder="Adresse"></textarea><br/>
					<input type="text" class="input" placeholder="Code postal" data-ng-model="order.billing.zip" size="8"/>
					<input type="text" class="input" data-ng-model="order.billing.town" placeholder="Ville"/>
				</div>
				<div class="five-columns">
					<!--<div class='margin-bottom'>
						<small class="input-info black">Nombre d'exemplaires papier</small>
						<input type="number" data-ng-model='bl.products[0].qty' data-ng-change="countExemplaires()" integer class="input small">
					</div>
					<div class='margin-bottom'>
						<small class="input-info black">Nombre d'exemplaires CD</small>
						<input type="number" data-ng-model='bl.products[1].qty' data-ng-change="countExemplaires()" integer class="input small">
					</div>-->
				</div>
			</div>
		</div>

		<div class="field-block button-height wizard-controls align-right">

			<button type="button"  data-ng-click='previous()' class="button glossy mid-margin-right wizard-prev float-left">
				<span class="button-icon anthracite-gradient">
					<span class="icon-backward"></span>
				</span>{{t 'Previous'}}</button>



			<button type="submit" class="button glossy mid-margin-right">
				<span class="button-icon"><span class="icon-tick"></span></span>
				Valider commande
			</button>

		</div>

	</fieldset>

	<!--<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(4)'>

		<div class="field-block">
			<h4>Confirmation de votre commande</h4>
			<p></p>
		</div>

		<div class="field-block button-height">
			<label><b>Références</b></label>
			Centre de coût : \{{order.optional.centreCout}}<br/>
			Num Affaire : \{{order.optional.numAffaire}}<br/>
			Num DF : \{{order.optional.numDF}}
		</div>

		<div class="field-drop button-height black-inputs">
			<label for="newsletter"><b>Nb exemplaires</b></label>
			Nombre d'exemplaires papier	: <b>\{{papier}}</b><br/>
			Nombre d'exemplaires CD	: <b>\{{cd}}</b>
		</div>

		<div class="field-block button-height">
			<label><b>Vérifications</b></label>
			<input type="checkbox" data-ng-model='checkFile' class="" tabindex="-1"/> J'ai effectué le contrôle de mes fichiers avant l'envoi<br/>
			<input type="checkbox" data-ng-model='validAddress' class="" tabindex="-1"/> J'ai contrôle l'exactitude des adresses de livraison<br/>
			<input type="checkbox" data-ng-model='validOrder' class="" tabindex="-1"/> Je confirme l'envoi de ma commande
		</div>

		<div class="field-block button-height wizard-controls align-right">

			<button type="button"  data-ng-click='previous()' class="button glossy mid-margin-right wizard-prev float-left">
				<span class="button-icon anthracite-gradient">
					<span class="icon-backward"></span>
				</span>{{t 'Previous'}}</button>

			<button type="submit" data-ng-disabled='!checkFile || !validAddress || !validOrder' class="button glossy mid-margin-right">
				<span class="button-icon"><span class="icon-tick"></span></span>
				Valider commande
			</button>

		</div>

	</fieldset>

	<fieldset class="wizard-fieldset fields-list" data-ng-class='isActive(5)'>

		<div class="field-block">
			<h4>Commande validée</h4>
			<p>Votre commande a bien été enregistrée sur PPC Chaumeil.</p>
		</div>

		<div class="field-block clearfix">
			<label><b>Numéro de commande</b></label>
			<strong>\{{order.ref}}</strong>
		</div>

		<div class="field-block clearfix">
			<label><b>Date de commande</b></label>
			\{{order.updatedAt | date:'dd-MM-yyyy HH:mm:ss'}}
		</div>

		<div class="field-block button-height align-center clearfix">
			<button type="button" data-ng-click='newOrder()' class="button blue-gradient glossy"><span class="icon-plus"></span> Nouvelle commande</button>
		</div>
	</fieldset>-->

</form>