<section data-ng-controller="OrderListController">
	<hgroup id="main-title" class="thin">
		<h1>{{t 'orders:Orders'}}</h1>
	</hgroup>

	<!--<div class="dashboard">
		<div class="columns">
			<div class="four-columns twelve-columns-mobile graph">
				<highchart id="pieChart" config="pieChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
			</div>

			<div class="eight-columns twelve-columns-mobile new-row-mobile graph">
				<highchart id="barChart" config="barChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
			</div>
		</div>
	</div>-->

	<div class="with-padding" data-ng-init="find()">
		<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
		<h3 class="no-margin-bottom">{{t 'orders:NewOrder'}}</h3>
		</div>
		<div class="modal-body">

		<p class="button-height inline-medium-label">
		<label for="card">Référence client</label>
		<input id="card" data-ng-model="cardSelect" typeahead-on-select="refreshVehicule()" typeahead="card as card.id for card in cardAutoComplete($viewValue) | filter:{id:$viewValue}" class="input">
		</p>
		<p class="button-height inline-medium-label">
		<label for="societe">Société</label>
		<input type="text" id="societe" data-ng-model="client" class="input">
		</p>
		<p class="button-height inline-medium-label">
		<label for="datec">Date de commande</label>
		<input kendo-date-picker id="datec" data-ng-model="datec" k-on-change="paiement.datec = kendoEvent.sender._value;" class="input">
		</p>
		<p class="button-height inline-medium-label">
		<label for="datel">Date de livraison</label>
		<input kendo-date-picker id="datel" data-ng-model="datec" k-on-change="paiement.datec = kendoEvent.sender._value;" class="input">
		</p>

		</div>
		<div class="modal-footer">
		<span class="button-group">
		<button class="button green-gradient icon-tick" ng-click="ok()"> {{t 'Save'}}</button>
		<button class="button orange-gradient icon-forbidden" ng-click="cancel()"> {{t 'Cancel'}}</button>
		</span>
		</div>
	</script>

		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
				<div class="col-sm-4">
					<button class="button icon-plus blue-gradient" data-ng-click="addNew()">{{t 'Add'}}</button>
				</div>
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4">
					<div class="float-right">
						{{t 'Search'}} <input type="text" data-ng-model="filterOptionsSociete.filterText" class="input small mid-margin-left">
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptionsSociete" ng-style="style(170)" resize></div>
		<div class="table-footer silver-gradient">
			\{{countSocietes}} ligne(s)
		</div>

	</div>
</section>