<section data-ng-controller="OrderController">
	<hgroup id="main-title" class="thin">
		<h1>{{t 'orders:Orders'}}</h1>
	</hgroup>

	<!--<div class="dashboard">
		<div class="columns">
			<div class="four-columns twelve-columns-mobile graph">
				<highchart id="pieChart" config="pieChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
			</div>

			<div class="eight-columns twelve-columns-mobile new-row-mobile graph">
				<highchart id="barChart" config="barChartConfig" style="min-width: 100px; height: 240px; margin: 0 auto;"></highchart>
			</div>
		</div>
	</div>-->

	<div class="with-padding" data-ng-init="find()">

		<div class="table-header silver-gradient glossy button-height">
			<div class="row">
				<div class="col-sm-4">
					<div class="button-group">
						<button class="button icon-plus blue-gradient" data-ng-click="addNew()">{{t 'Add'}}</button>
						<button title="{{t 'Refresh'}}" class="button" data-ng-click="find()"><span class="icon-redo"></span></button>
					</div>
				</div>
				<div class="col-sm-4">
					{{t
							'Mode'}} <select ng-model="type" ng-options="c as c.name for c in types track by c.id" data-ng-change="find()" class=""></select>
				</div>
				<div class="col-sm-4">
					<div class="float-right">
						{{t 'Search'}} <input type="text" data-ng-model="filterOptions.filterText" class="input small mid-margin-left">
					</div>
				</div>
			</div>
		</div>
		<div class="gridStyle"  data-ng-grid="gridOptions" ng-style="style(170)" resize></div>
		<div class="table-footer silver-gradient">
			\{{count}} ligne(s)
		</div>

	</div>
</section>