<section data-ng-controller="IndexController">
	<hgroup class="thin" id="main-title">
		<h1> Basic markup explained {{title}}</h1>
	</hgroup>

	<div class="with-padding">
		<h2> Hello \{{global.user.name}}</h2>
		<ul class="menu">
			<li>
				<a ng-href='#!/view1'>view1</a>
			</li>
			<li>
				<a ng-href='#!/product'>product</a>
			</li>
			<li>
				<a ng-href='#!/module/user/absence.html'>Gestion des conges / absences</a>
			</li>
			<li>
				<a ng-href='#!/module/europexpress/planning.html'>planning</a>
			</li>
			<li>
				<a ng-href='#!/module/europexpress/tournee.html'>tournee</a>
			</li>
			<li>
				<a ng-href='#!/module/europexpress/stock.html'>stock</a>
			</li>
			<li>
				<a ng-href='#!/module/product/barcode.html'>Code a barre</a>
			</li>
			<li>
				<a ng-href='#!/module/europexpress/vehicule.html/52791368aab0ca6a6500000a'>Un vehicule</a>
			</li>
		</ul>
	</div>
</section>