<section data-ng-controller="IndexController">
	<hgroup class="thin" id="main-title">
		<h1> Basic markup explained {{title}}</h1>
	</hgroup>

	<div class="with-padding">
		<h2> Hello \{{global.user.name}}</h2>
		<ul class="menu">
			<li>
				<a ng-href='#!/view1'>view1</a>
			</li>
			<li>
				<a ng-href='#!/product'>product</a>
			</li>
			<li>
				<a ng-href='#!/module/europexpress/planning.html'>planning</a>
			</li>
			<li>
				<a ng-href='#!/module/europexpress/tournee.html'>tournee</a>
			</li>
		</ul>
	</div>
</section>