

<hgroup id="main-title" class="thin">
	<h1>Liste des produits et services</h1>
</hgroup>

<div class="with-padding">
	<div id="grid"></div>
	<script>
		$(document).ready(function() {
			var crudServiceBaseUrl = "api/product",
					dataSource = new kendo.data.DataSource({
				transport: {
					read: {
						url: crudServiceBaseUrl,
						type: "GET",
						dataType: "json"
					},
					update: {
						url: crudServiceBaseUrl,
						type: "PUT",
						dataType: "json"
					},
					destroy: {
						url: crudServiceBaseUrl,
						type: "DELETE",
						dataType: "json"
					},
					create: {
						url: crudServiceBaseUrl,
						type: "POST",
						dataType: "json"
					},
					parameterMap: function(options, operation) {
						if (operation !== "read" && options.models) {
							return {models: kendo.stringify(options.models)};
						}
					}
				},
				batch: true,
				pageSize: 50,
				schema: {
					model: {
						id: "_id",
						fields: {
							_id: {editable: false, nullable: true},
							ref: {editable: true, validation: {required: true}},
							qtyMin: {type: "number", validation: {required: true, min: 1}, defaultValue: 0},
							tms: {type: "date"},
							entity: {type: "string", defaultValue: ""},
							Status_ID: {from: "Status.id"},
							price_level: {type: "string", defaultValue: "BASE"},
							author: {editable: false, defaultValue: {id: "{{user.id}}", name: "{{user.name}}"}},
							Status: {defaultValue: {id: "NEW", name: "Nouveau", css: "grey-gradient"}}
						}
					}
				},
				error: function(e) {
					// log error
					alert(e.xhr.responseText);
				},
				/*group: [{
				 field: "ref",
				 dir: "asc"
				 }, {
				 field: "price_level",
				 dir: "asc"
				 }]*/
				sort: {field: "ref", dir: "asc"}
			});

			$("#grid").kendoGrid({
				dataSource: dataSource,
				pageable: {
					refresh: true,
					pageSize: 50,
					pageSizes: [5, 10, 20, 50],
					buttonCount: 5
				},
				filterable: {
					extra: false
				},
				//scrollable: {
				//	virtual: true
				//},
				scrollable: false,
				groupable: true,
				sortable: true,
				//height: 430,
				toolbar: [
					{
						name: "create",
						text: "Nouveau produit/service",
						className: "k-button k-button-icontext k-grid-add button"
					}
				],
				columns: [
					{field: "ref", reorderable: true, filterable: true, title: "reference"},
					{field: "label", reorderable: true, filterable: true, title: "Designation", editor: textareaEditor},
					{field: "tms", title: "Date de modification", hidden: false, format: "{0:dd/MM/yyyy}", filterable: {
							ui: "datepicker"
						}
					},
					{field: "price_level", title: "Liste de prix"},
					{field: "pu_ht", filterable: true, title: "Prix HT", format: "{0:c3}", width: "60px"},
					{field: "qtyMin", filterable: true, title: "Qte Min", format: "{0:n0}", width: "60px"},
					{field: "Status_ID", title: "Etat", width: "100px",
						editor: statusDropDownEditor, template: "<small class=\"tag #=Status.css# glossy \">#=Status.name#</small>"},
					//{field: "entity", filterable: false, title: "Atelier", hidden: true, width: "100px", editor: entityDropDownEditor},
					//{field: "notes", filterable: false, title: "Notes", hidden: true, editor: textareaEditor},
					{command: [{name: "edit", text: {edit: "Editer", update: "Enregistrer", cancel: "Annuler"}}/*, {name: "destroy", text: "Supp."}*/], title: "&nbsp;", width: "90px"}
				],
				editable: {
					mode: "popup",
					window: {
						width: "400px"
					}
				}
			});
		});

		function statusDropDownEditor(container, options) {
			$('<input data-text-field="name" data-value-field="id" data-bind="value:' + options.field + '"/>')
					.appendTo(container)
					.kendoDropDownList({
				autoBind: false,
				dataSource: {
					transport: {
						read: {
							url: "api/product/status/select",
							type: "GET",
							dataType: "json"
						}
					}
				}
			});
		}

		function entityDropDownEditor(container, options) {
			$('<input data-text-field="name" data-value-field="id" data-bind="value:' + options.field + '"/>')
					.appendTo(container)
					.kendoDropDownList({
				autoBind: false,
				dataSource: {
					transport: {
						read: {
							url: "api/user/entity/select",
							type: "GET",
							dataType: "json"
						}
					}
				}
			});
		}

		function textareaEditor(container, options) {
			$('<textarea rows="3" cols="25" style="vertical-align:top;" data-bind="value: ' + options.field + '"></textarea>').appendTo(container);
		}
	</script>

</div>