<!-- Footer -->

<script type="text/javascript" src="js/lib/ng-file-upload/angular-file-upload-html5-shim.min.js"></script> 

<!--AngularJS-->
<script type="text/javascript" src="js/lib/moment/moment.js"></script>
<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="js/lib/i18next/i18next.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="js/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="js/lib/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="js/lib/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/lib/ng-file-upload/angular-file-upload.min.js"></script>
<script type="text/javascript" src="js/lib/ng-grid/build/ng-grid.js"></script>
<script type="text/javascript" src="js/lib/ng-grid/plugins/ng-grid-csv-export.js"></script>
<script type="text/javascript" src="js/lib/angular-xeditable/dist/js/xeditable.min.js"></script>
<script type="text/javascript" src="js/lib/highcharts-ng/dist/highcharts-ng.min.js"></script>
<script type="text/javascript" src="js/lib/ng-tags-input/ng-tags-input.min.js"></script>
<script type="text/javascript" src="js/lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script type="text/javascript" src="js/lib/angular-timer/app/js/timer.js"></script>
<script type="text/javascript" src="js/lib/angular-translate/angular-translate.min.js"></script>
<script type="text/javascript" src="js/lib/angular-dialog-service/dist/dialogs.min.js"></script>
<script type="text/javascript" src="js/lib/ng-i18next/dist/ng-i18next.min.js"></script>

<script type="text/javascript" src="js/lib/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="js/lib/jqplot/plugins/jqplot.pieRenderer.js"></script>
<script type="text/javascript" src="js/lib/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="js/lib/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="js/lib/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<script type="text/javascript" src="js/lib/jqplot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="js/lib/jqplot/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="js/lib/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="js/lib/jqplot/plugins/jqplot.funnelRenderer.min.js"></script>

<script type="text/javascript" src="js/lib/angular-ui-chart/src/chart.js"></script>
<script type="text/javascript" src="js/lib/checklist-model/checklist-model.js"></script>

<!-- Multi-language -->
<script src="js/i18n/angular-locale_fr.js"></script>


<!--Angular UI-->
<script type="text/javascript" src="js/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!--<script type="text/javascript" src="js/lib/angular-bootstrap/ui-bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="js/lib/angular-ui-utils/modules/route/route.js"></script>-->

<!--Application Init-->
<script type="text/javascript" src="js/speedealing/app.js"></script>
<script type="text/javascript" src="js/speedealing/config.js"></script>
<script type="text/javascript" src="js/speedealing/directives.js"></script>
<script type="text/javascript" src="js/speedealing/filters.js"></script>

<!--Application Services-->
{{#each angular.services}}
<script type="text/javascript" src="js/speedealing/services/{{this}}?ver={{../random}}" defer></script>
{{/each}}

<!--Application Controllers-->
{{#each angular.controllers}}
<script type="text/javascript" src="js/speedealing/controllers/{{this}}?ver={{../random}}" defer></script>
{{/each}}

<script type="text/javascript" src="js/speedealing/init.js"></script>

<!-- BEGIN THEME -->
<!-- <script type="text/javascript" src="includes/js/jquery.ui.extend.js"></script> -->
<script type="text/javascript" src="includes/jquery/plugins/qtip2/jquery.qtip.min.js" defer></script>
<script type="text/javascript" src="includes/lib/stepy/js/jquery.stepy.min.js" defer></script>
<script type="text/javascript" src="includes/lib/validate/jquery.validate.min.js" defer></script>
<!--<script type="text/javascript" src="includes/lib/validate/localization/messages_<?php echo substr($langs->getDefaultLang(), 0, 2); ?>.js" defer></script>-->
<script type="text/javascript" src="includes/js/jquery.rwd-table.js" defer></script>
<!-- END THEME -->

<!-- HighChart -->
<script type="text/javascript" src="js/lib/highcharts/highcharts.js" defer></script>
<script type="text/javascript" src="js/lib/highcharts/modules/funnel.js" defer></script>
<!-- Highstock -->
<!--<script type="text/javascript" src="includes/jquery/plugins/highstock/js/highstock.js" defer></script>-->
<script type="text/javascript" src="js/libs/highcharts/symeos.js" defer></script>

<!-- CKEditor -->
<!--<script type="text/javascript">var CKEDITOR_BASEPATH = '<?php echo DOL_URL_ROOT; ?>/includes/ckeditor/';</script>
<script type="text/javascript" src="includes/ckeditor/ckeditor_basic.js" defer></script>-->

<script type="text/javascript" src="js/setup.js"></script>

<!-- Template functions -->
<script type="text/javascript" src="js/developr.accordions.js"></script>
<script type="text/javascript" src="js/developr.auto-resizing.js"></script>
<script type="text/javascript" src="js/developr.input.js"></script>
<script type="text/javascript" src="js/developr.message.js"></script>
<script type="text/javascript" src="js/developr.modal.js"></script>
<script type="text/javascript" src="js/developr.navigable.js"></script>
<script type="text/javascript" src="js/developr.collapsible.js"></script>
<script type="text/javascript" src="js/developr.notify.js"></script>
<script type="text/javascript" src="js/developr.scroll.js"></script>
<!--<script type="text/javascript" src="js/developr.progress-slider.js"></script>-->
<script type="text/javascript" src="js/developr.tooltip.js"></script>
<script type="text/javascript" src="js/developr.confirm.js"></script>
<script type="text/javascript" src="js/developr.content-panel.js"></script>
<script type="text/javascript" src="js/developr.agenda.js"></script>
<script type="text/javascript" src="js/developr.tabs.js"></script>		<!-- Must be loaded last -->

<!-- Kendo library -->
<script type="text/javascript" src="js/lib/kendo-ui/js/kendo.web.min.js"></script>
<script type="text/javascript" src="js/lib/kendo-ui/js/kendo.timezones.min.js"></script>
<script type="text/javascript" src="js/lib/kendo-ui/js/cultures/kendo.culture.fr-FR.min.js"></script>
<script type="text/javascript" src="includes/kendo/langs/kendo-fr.js"></script>

<script type="text/javascript" src="js/lib/angular-kendo/angular-kendo.js"></script>

<script type="text/javascript">
	kendo.culture("fr-FR");</script>

<!-- Includes specific JS of Speedealing -->
<script type="text/javascript" src="js/lib_head.js" defer></script>

<!-- Include socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="includes/barcode/jquery-barcode.js"></script>  

<!-- Tinycon -->
<script src="includes/js/tinycon.min.js"></script>

<script>
	// Call template init (optional, but faster if called manually)
	//$.template.init();
	// Favicon count
	Tinycon.setBubble("{{agenda.count}}");
	$(document).ready(function() {
		// Box show/hide/remove
		prth_box_actions.init();
		//* jquery tools tabs
		//prth_tabs.init();
		//* infinite tabs (jquery UI tabs)
		prth_infinite_tabs.init();
	});
</script>