<div data-ng-controller="MenuController" ng-init="init()">


    <div id="menu-content">
        <header ng-show="showSearchInput">
            <div id="search_box">
                <input ng-model="searchQueryItem" ng-change="searchQuery()" class="ac_input focus" id="query" type='text' size='40' placeholder="{{t 'SearchOf'}}" autocomplete="off">
            </div>
        </header>

        <div id="profile">
            <!--<div ng-if="global.user.photo">
                <img alt="User name" ng-src="viewimage.php?modulepart=userphoto&entity=\{{global.user.entity}}&file=\{{global.user.photo}}&cache=1&id=\{{global.user._id}}" width="64" class="user-icon">
            </div>
            <div ng-if="!global.user.photo">-->
			<div>
                <img src="img/user.png" width="64" class="user-icon" alt="User name">
            </div>

            <p> {{t 'Hello'}}
                <span class="name">\{{global.user.firstname}} 
                    <b> \{{global.user.lastname}}</b>
                </span>
            </p>
        </div>
        <ul class="children-tooltip" id="access">
            <li style="width: 20%;" data-ng-init="taskCounter()">
                <a href='#!/' title="{{t 'Home'}}" >
                    <span class="icon-home"></span>
                </a>
            </li>
            <li style="width: 20%;" data-ng-init="ticketCounter()">
                <a ng-if="global.user.rights.ticket.read" ng-href='#!/ticket' title="{{t 'ticket:TicketCenter'}}" >
                    <span class="icon-warning" ng-class="{red:ticketCpt}"></span>
                    <span data-ng-if="ticketCpt" class="count">\{{ticketCpt}}</span>
                </a>
				<span ng-if="!global.user.rights.ticket.read">
					<span class="icon-warning"></span>
				</span>
            </li>
            <li style="width: 20%;">
                <a  ng-if="global.user.rights.task.read" ng-href='#!/task' title="{{t 'tasks:Tasks'}}">
                    <span class="icon-tick"></span>
					<span data-ng-if="tasksCpt" class="count orange-bg">\{{tasksCpt}}</span>
                </a>
				<span ng-if="!global.user.rights.task.read" title="{{t 'tasks:Tasks'}}">
					<span class="icon-tick"></span>
				</span>
            </li>
            <li style="width: 20%;">
                <span href="user/fiche.php?id={{user.id}}"  title="{{t
						'Parameters'}}" target="_self">
                    <span class="icon-gear"></span>
                </span>
            </li>
            <li style="width: 20%;">
                <a href="logout" title="{{t
						'Logout'}}" target="_self">
                    <span class="icon-logout"></span>
                </a>
            </li>
        </ul>

        <!--<ul class="big-menu collapsible as-accordion">
                {{{menuHTML}}}
        </ul>-->

        <ul class="big-menu collapsible as-accordion">
            <li ng-repeat="(_id,menu) in menus | object2Array | orderBy:'position'" ng-class="{'with-right-arrow' : menu.submenus}">
                <span ng-if="menu.submenus">\{{menu.title}}</span>
                <ul ng-if="menu.submenus" class="big-menu grey-gradient">
                    <li ng-repeat="(_id, menu) in menu.submenus  | object2Array | orderBy:'position'" ng-class="{'with-right-arrow' : menu.submenus}">
                        <span ng-if="menu.submenus">\{{menu.title}}</span>
                        <ul ng-if="menu.submenus" class="big-menu anthracite-gradient">
                            <li ng-repeat="(_id, menu) in menu.submenus  | object2Array | orderBy:'position'">
                                <a ng-class="selectedMenu(menu.id)" href="\{{menu.url}}?idmenu=\{{menu.id}}" target="_self">\{{menu.title}}</a>
                            </li>
                        </ul>
                        <a ng-if="!menu.submenus" ng-class="selectedMenu(menu.id)" href="\{{menu.url}}?idmenu=\{{menu.id}}" target="_self">\{{menu.title}}</a>
                    </li>
                </ul>
                <a ng-if="!menu.submenus" ng-class="selectedMenu(menu.id)" href="\{{menu.url}}?idmenu=\{{menu.id}}" target="_self">\{{menu.title}}</a>
            </li>
        </ul>

        <ul class="unstyled-list">
            <li class="title-menu">{{t 'tasks:EventOnFullDay'}}</li>
            <li>
                <ul class="calendar-menu" ng-controller="TaskController" >
                    <li ng-repeat="task in menuTasks">
                        <a href="#" ng-click="showTask(task._id)" title="{{t
											'Open'}}">
                            <time datetime="\{{task.datep}}">
                                <b>\{{task.datep| date:"dd"}}</b>
                                <p>\{{task.datep| date:"MMM"}}</p>
                            </time>
                            <small class="green">\{{task.datep| date:"HH:mm"}}</small>
                            <p>\{{task.name}} 
                                <i>(\{{task.societe.name}})</i>
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <p ng-if='menuTasks.length == 0'>{{t 'tasks:NoMeeting'}}</p>
        </ul>



    </div>

    <footer id="menu-footer">
        <div>
            <p>Speedealing v{{version}}</p>
        </div>
    </footer>
</div>
